<p>
  faq works!
</p>
<p>
  <button type="button" class="btn btn-primary btn-sm"
          (click)="group.isOpen = !group.isOpen">Toggle last panel
  </button>
</p>
 
<accordion>
  <accordion-group heading="Static Header, initially expanded"
                   [isOpen]="status.isFirstOpen">
    This content is straight in the template.
  </accordion-group>
  <accordion-group *ngFor="let group of groups" [heading]="group.title">
    {{ group?.content }}
  </accordion-group>
  <accordion-group heading="Dynamic Body Content">
    <p>The body of the accordion group grows to fit the contents</p>
    <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">Add
      Item
    </button>
    <div *ngFor="let item of items">{{item}}</div>
  </accordion-group>
  <accordion-group #group [isOpen]="status.isOpen">
    <div accordion-heading>
      I can have markup, too!
      <i class="pull-right float-xs-right glyphicon"
         [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i>
    </div>
    This is just some content to illustrate fancy headings.
  </accordion-group>
</accordion>





How long does it take for you to review my affiliate application?
Affiliate applications are automatic. You can start referring customers immediately right after you sign up by listing our banners on your site.
How does Jazz Affiliates know that someone has registered via my site?
Your affiliate account has a unique Affiliate ID, which is used to identify when you have referred a customer to us. When a player clicks through via one of your links, a cookie is dropped on their browser. This cookie contains your Affiliate ID. When that player registers for an account with your selected sportsbook, the player will go under your affiliate account.
How long is the cookie duration?
The cookie duration is 45 days. This means that a referred player could navigate away from our brands websites and providing that they return within 45 days, they will still be credited to your Affiliate Account.
I don't have a website, can I still be an affiliate?
We will review each case on an individual basis. Please contact us at info@jazzaffiliates.com with details of how you intend to refer players and what your target market is.
Can I promote in more than one website?
Yes, you can post your banners in different websites to achieve more exposure. 
What payment methods do the Jazz affiliate program support?
Affiliates can be paid by Bank Wire Transfer, Skrill, Neteller and Entropay.
Is there a minimum amount before I get paid?
You will need to generate a minimum of ? in commission before we process your affiliate payment. Balances under ? will be accrued until the threshold has been met. This minimum threshold can be increased at your request.
What currencies can affiliates receive payments in?
All affiliate commission payments are processed in USD.
When will I be paid?
Affiliates will be paid within 5 days of the end of the calendar month using Bitcoins, other methods may vary. 
How can I check how much I will get paid?
You can log into your account at any time to view how much you will be paid and how much you have been paid for previous months. 
Can I earn commission on more than one product?
You will earn commission on all Jazz Affiliates products.  One easy signup and you are eligible for Sports, Casino, Horses, and live wagering.
How often are your personal affiliate statistics updated?
Views and clicks data will be updated close to real time. All other stats are updated a day in arrears.
What happens when Jazz Affiliates adds new products, do I still earn commission from them?
Yes you do. Every time a new product is added it will automatically will show on your players’ account. 
May I use the Jazz Sports logo or content on my site?
After signing up to our program you will have access to a wide variety of buttons, banners and text links. You should use the sanctioned graphics and text links provided. You may not alter or modify any banners or buttons without obtaining prior written permission from Jazz Sports. If you are unsure about your rights to use or modify the materials for your website, please contact us and we'll be happy to clarify.
What if I have more than one website?
You can track the performance of each website within the same affiliate account by banner reports.
