<div class="container" id="reportContent">
  <h1>{{'Gross Week' | translate:lang }}</h1>
  <form #myForm="ngForm" novalidate>
    <div class="row well">

      <div class="col-md-4">
        <label>{{'Select Date:' | translate:lang  }}</label>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-picker>
        <!--<label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>-->
      </div>
      <div class="col-md-4">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>
      </div>
      <div class="col-md-4 ja-text-right padding-top-small">
        <button class="btn btn-success" (click)="go()">GO!</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.AgentList?.length > 0">

    <div class="row">
      <div class="col-md-10">
        <h3>{{'Period' | translate:lang}} {{response.StartDate | date: 'MM/dd/yyyy'}} To {{response.EndDate | date: 'MM/dd/yyyy'}}</h3>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-block" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
      </div>
    </div>

    <div *ngFor="let Item of response.AgentList">

      <div class="table-responsive">
      <table class="table table-striped">
        <caption><i class="fa fa-chevron-down" aria-hidden="true"></i> {{Item._agent}}</caption>
        <thead>
          <tr>
            <th>Player</th>
            <th>Name</th>
            <th>BalFwd</th>
            <th>Pmts</th>
            <th>Casino Week</th>
            <th>Sports Week</th>
            <th>Horses Week</th>
            <th>Total Week</th>
            <th>New total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ItemDetailPlayer of Item.PlayerList">
            <td>{{ItemDetailPlayer._player}}</td>
            <td>{{ItemDetailPlayer._name}}</td>
            <td [ngClass]="(ItemDetailPlayer._balfwd < 0 )?'redNumber':'greenNumber'" >{{ItemDetailPlayer._balfwd | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._pmts < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._pmts | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._casinoweek < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._casinoweek | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._sportsweek < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._sportsweek | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._horsesweek < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._horsesweek | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(getLineTotal(ItemDetailPlayer._sportsweek, ItemDetailPlayer._horsesweek, ItemDetailPlayer._casinoweek) < 0 )? 'redNumber' : 'greenNumber'">{{getLineTotal(ItemDetailPlayer._sportsweek, ItemDetailPlayer._horsesweek, ItemDetailPlayer._casinoweek) | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(getLineTotalTotal(ItemDetailPlayer._balfwd,ItemDetailPlayer._sportsweek, ItemDetailPlayer._horsesweek, ItemDetailPlayer._casinoweek) < 0 )? 'redNumber' : 'greenNumber'">{{getLineTotalTotal(ItemDetailPlayer._balfwd,ItemDetailPlayer._sportsweek, ItemDetailPlayer._horsesweek, ItemDetailPlayer._casinoweek)
              | currency:'USD':true:'1.2-2'}}</td>

          </tr>
          <tr>
            <td>{{Item.PlayerList.length}} {{'Players' | translate:lang }}</td>
            <td></td>
            <td [ngClass]="getTotal(Item, '_balfwd') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_balfwd') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_pmts')  < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_pmts') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_casinoweek') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_casinoweek') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_sportsweek') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_sportsweek') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_horsesweek') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_horsesweek') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_allweek')  < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_allweek') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotalTotal(Item, '_allweek')< 0 ? 'redNumber' : 'greenNumber'">{{getTotalTotal(Item, '_allweek') | currency:'USD':true:'1.2-2'}}</td>

          </tr>

        </tbody>
      </table>
      </div>


      <!--
  <pre>
  {{response | json}}
</pre>-->

    </div>

    <div *ngIf="loading">
      <app-loading> </app-loading>
    </div>