<div class="container">
  <h2>{{'Gross Week' | translate:lang }}</h2>
  <form #myForm="ngForm" novalidate>
    <div class="row">

      <div class="col-xs-3 form-group">
        <label>{{'Select Date:' | translate:lang  }}</label>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-picker>
        <!--<label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>-->
      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>
      </div>
      <div class="col-xs-3 form-group">

      </div>
      <div class="col-xs-3 form-group">

      </div>
    </div>

    <div class="row">

      <div class="col-xs-4 form-group">
        <button class="btn btn-default" (click)="go()">GO!</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.AgentList?.length > 0">
    <h2>{{'Period' | translate:lang}} {{response.StartDate | date: 'MM/dd/yyyy'}} To {{response.EndDate | date: 'MM/dd/yyyy'}}</h2>

    <div *ngFor="let Item of response.AgentList">

      <div class="row" style="text-align: center; color: white; background-color: black;">
        {{Item._agent}}
      </div>
      <div class="row" style="background-color: lightgray">
        <div class="col-md-3">Player</div>
        <div class="col-md-3">Name</div>
        <div class="col-md-1">BalFwd</div>
        <div class="col-md-1">Pmts</div>
        <div class="col-md-1">Casino Week</div>
        <div class="col-md-1">Sports Week</div>
        <div class="col-md-1">Horses Week</div>
        <div class="col-md-1">Total Week</div>
      </div>

      <div *ngFor="let ItemDetailPlayer of Item.PlayerList">

        <div class="row table-hover">
          <div class="col-md-3">{{ItemDetailPlayer._player}}</div>
          <div class="col-md-3">{{ItemDetailPlayer._name}}</div>
          <div class="col-md-1" style="text-align: right;">{{ItemDetailPlayer._balfwd | currency:'USD':true:'4.2-2'}}</div>
          <div class="col-md-1" style="text-align: right;">{{ItemDetailPlayer._pmts | currency:'USD':true:'4.2-2'}}</div>
          <div class="col-md-1" style="text-align: right;">{{ItemDetailPlayer._casinoweek | currency:'USD':true:'4.2-2'}}</div>
          <div class="col-md-1" style="text-align: right;">{{ItemDetailPlayer._sportsweek | currency:'USD':true:'4.2-2'}}</div>
          <div class="col-md-1" style="text-align: right;">{{ItemDetailPlayer._horsesweek | currency:'USD':true:'4.2-2'}}</div>
          <div class="col-md-1" style="text-align: right;">{{ItemDetailPlayer._sportsweek | currency:'USD':true:'4.2-2'}}</div>
        </div>

      </div>
      <hr />
    </div>
  </div>

  <pre>
  {{response | json}}
</pre>

</div>

<div *ngIf="loading">doing something else.... </div>