<div class="container" id="reportContent">
  <h1>{{'Weekly Transactions' | translate:lang }}</h1>

  <form #myForm="ngForm" novalidate>

    <div class="row well">
      <div class="col-xs-9 col-md-6">
        <label>{{'Select Date:' | translate:lang  }}</label>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-picker>
        <!--<label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model2" required></my-date-range-picker>-->
      </div>
      <div class="col-xs-3 col-md-6 ja-text-right padding-top-small">
        <button class="btn btn-success" (click)="go()">GO!</button>

        <!--<label>{{'Sports:'| translate:lang  }}</label>
        <select name="ddlSports" class="form-control" style="height: 40px;" [(ngModel)]="ddlSports">
          <option *ngFor="let sport of sports" [value]="sport.value">{{sport.display}}</option>
            </select>-->
      </div>
      <!--<div class="col-xs-3 form-group">
        <label>{{'Transaction Type:'| translate:lang  }}</label>
        <select name="ddlTransType" class="form-control" style="height: 40px;" [(ngModel)]="ddlTransType">
            <option *ngFor="let tt of transactionTypes" [value]="tt.value">{{tt.display}}</option>
            </select>
      </div>-->
      <!--<div class="col-xs-3 form-group">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>
      </div>-->
    </div>

  </form>

  <div *ngIf="response?.CashFlowList?.length > 0">

    <div class="row well ja-text-center">
      <div class="col-md-12">
        <label>Filter by:</label> <input type='text' [(ngModel)]='descFilter' />
      </div>
    </div>

    <div class="row">
      <div class="col-md-10">
        <h3>{{'Period' | translate:lang}} {{response.From | date: 'MM/dd/yyyy'}} To {{response.To | date: 'MM/dd/yyyy'}}</h3>
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-block" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>

            <th>{{'Transaction' | translate:lang}}</th>
            <th>{{'Description' | translate:lang}}</th>
            <th>{{'Amount' | translate:lang}}</th>
            <th>{{'Balance' | translate:lang}}</th>
            <th>{{'Date' | translate:lang}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let PreAff of response.CashFlowList | thingFilter:descFilter">
            <td>
              {{PreAff.Transaction}}
            </td>
            <td>
              {{PreAff.Description}}
            </td>
            <td [ngClass]="(PreAff.Amount  < 0 )?'redNumber':'greenNumber'">
              {{PreAff.Amount | currency:'USD':true:'1.2-2'}}
            </td>
            <td [ngClass]="(PreAff.Balance < 0 )?'redNumber':'greenNumber'">
              {{PreAff.Balance | currency:'USD':true:'1.2-2'}}
            </td>
            <td>
              {{PreAff.Date | date}}
            </td>
          </tr>

          <tr>
            <td>{{response.CashFlowList.length}} {{'Transactions' | translate:lang }}</td>
            <td> </td>
            <td [ngClass]="getTotal( 'Amount')  < 0 ? 'redNumber' : 'greenNumber'">{{getTotal('Amount') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal('Balance') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal( 'Balance') | currency:'USD':true:'1.2-2'}}</td>
            <td ></td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <pre>
  {{response | json}}
</pre>

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>