<div class="container">
  <h2>{{'Settled Figures' | translate:lang }}</h2>
  <form #myForm="ngForm" novalidate>
    <div class="row">

      <div class="col-xs-3 form-group">
        <label>{{'Select Date:' | translate:lang  }}</label>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-picker>

      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>

      </div>
      <div class="col-xs-3 form-group">

      </div>
      <div class="col-xs-3 form-group">

      </div>
    </div>

    <div class="row">

      <div class="col-xs-4 form-group">
        <button class="btn btn-default" (click)="go()">{{'GO!' | translate:lang}}</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.length > 0">
    <!--<h2>{{'Period' | translate:lang}} {{response.StartDate | date: 'MM/dd/yyyy'}} To {{response.EndDate | date: 'MM/dd/yyyy'}}</h2>-->
    <button class="btn btn-success" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
<br>
    <div *ngFor="let Item of response">

      <div class="row" style="text-align: center; color: white; background-color: black;">
        {{Item.Agent}}
      </div>

      <table class="table">
        <thead>
          <tr style="background-color: lightgray">
            <td>Player</td>
            <td>Carry Over</td>
            <td>This Week</td>
            <td>Pmts</td>
            <td>Current Balance</td>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let ItemDetailPlayer of Item.DetailList">

            <td>{{ItemDetailPlayer.Player}}</td>
            <td>{{ItemDetailPlayer.SettledFigure}}</td>
            <td>{{ItemDetailPlayer.TotalWeek | currency:'USD':true:'1.2-2'}}</td>
            <td>{{ItemDetailPlayer.Pmts | currency:'USD':true:'1.2-2'}}</td>
            <td>{{ItemDetailPlayer.CurrentBalance | currency:'USD':true:'1.2-2'}}</td>
          </tr>
          <tr>
            <td>{{Item.DetailList.length}} {{'Players' | translate:lang }}</td>
            <td>{{getTotalSettledFigure(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
            <td>{{getTotalTotalWeek(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
            <td>{{getTotalPmts(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
            <td>{{getTotalCurrentBalance(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
          </tr>

        </tbody>
      </table>

      <br>
    </div>
  </div>


  <!--<pre>
  {{response | json}}
</pre>-->

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>