<bannerfarm-modal #modal>
  <div class="app-modal-header">
    {{'Get the code' | translate:lang }} !
  </div>

  <div class="app-modal-body">
    <pre>
      <code>    
      {{modal.code}} 
      </code>
    </pre>


  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">{{'Cancel'| translate:lang }}</button>
    <button type="button" class="btn btn-primary">{{'COpy Code' | translate:lang}}</button>
  </div>
</bannerfarm-modal>


<!--<button (click)="test()">TEST</button>-->
<div class="container">
  <h2>{{'Banner Farm' | translate:lang }}</h2>

  <div *ngIf="isEditMode;then editMode  else listMode"> </div>

  <ng-template #listMode>
    <div class="row">
      <div class="pull-right">
        <button class="btn btn-default" (click)="goToEditMode()">  <span class="glyphicon glyphicon-plus"></span>
 {{'New banner' | translate:lang }} </button>
      </div>
    </div>
    <div class="row">
      <label>{{'Filters:'| translate:lang  }}</label>


    </div>

    <div class="row">
      <div class="col-xs-3 form-group">
        <label>{{'Target Book:'| translate:lang  }}</label>
        <select name="ddlBookFilter" class="form-control" style="height: 40px;" [(ngModel)]="ddlBookFilter" (change)="onChangeBannerTypeFilter()">
          <option *ngFor="let b of booksFilter" [value]="b.value"> {{b.display}}</option>
        </select>
      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Banner Type:'| translate:lang  }}</label>
        <select name="ddlBannerTypeFilter" class="form-control" style="height: 40px;" [(ngModel)]="ddlBannerTypeFilter" (change)="onChangeBannerTypeFilter()">

            <option *ngFor="let bt of bannerTypesFilter" [value]="bt.value">{{bt.display}}</option>
            </select>
      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Language:'| translate:lang  }}</label>
        <select name="ddlLanguagesFilter" class="form-control" style="height: 40px;" [(ngModel)]="ddlLanguagesFilter" (change)="onChangeBannerTypeFilter()"> 

          <option *ngFor="let language of languagesFilter" [value]="language.value">{{language.display}}</option>
            </select>
      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Sports:'| translate:lang  }}</label>
        <select name="ddlSportsFilter" class="form-control" style="height: 40px;" [(ngModel)]="ddlSportsFilter" (change)="onChangeBannerTypeFilter()">

          <option *ngFor="let sport of sportsfilter" [value]="sport.value">{{sport.display}}</option>
            </select>
      </div>
    </div>
    <div class="row">
      <button class="btn btn-default" (click)="clearFilters()">  <span class="glyphicon glyphicon-filter"></span>
 {{'Clear filters'| translate:lang }} </button>

    </div>
    <div class="row">
      Total banners found: {{bannersToDisplay.length}}
    </div>

    <div *ngIf="loading">
      <app-loading> </app-loading>
    </div>

    <div *ngIf="!loading">

      <table class="table table-responsive  table-hover">
        <tr>
          <th>Title</th>
          <th>Book</th>
          <th>Type</th>
          <th>Language</th>
          <th>Sport</th>
          <th>Preview</th>
          <th>Get the code!</th>
          <th>Modify</th>
          <th>Deactivate</th>

        </tr>

        <tr *ngFor="let banner of bannersToDisplay;">
          <td>{{banner.bannerTitle}}</td>
          <td>{{banner.book}}</td>
          <td>{{banner.bannerType}}</td>
          <td>{{banner.language}}</td>
          <td>{{banner.sport}}</td>

          <td><img src="{{banner.imageUrl}}" class="imagePreview"></td>
          <td><button class="btn btn-default" (click)="modal.show(banner)"> <span class="glyphicon glyphicon-cloud-download"></span> {{'Copy HTML code' | translate:lang}} </button></td>
          <td>
            <button class="btn btn-default" (click)="goToEditMode(banner)" [disabled]="banner.bannerType === 'Static'"> <span class="glyphicon glyphicon-picture"></span>
 {{'Modify' | translate:lang}} </button>
          <td><button class="btn btn-danger" (click)="deactivateBanner()"> <span class="glyphicon glyphicon-remove-sign"></span>
 {{'Deactivate' | translate:lang}} </button>
          </td>
        </tr>
      </table>
    </div>

  </ng-template>

  <ng-template #editMode>
    <div class="row">
      <div class="pull-right">
        <button class="btn btn-default" (click)="goBack()"> <span class="glyphicon glyphicon-arrow-left"></span> {{'Back' | translate:lang}} </button>

      </div>
    </div>


    <form #myForm="ngForm" novalidate>
<!--dropdowns-->
<label >Step 1: Select the categories of the new banner</label>
        <div class="row">
          <div class="col-xs-3 form-group">
            <label>{{'Target Book:'| translate:lang  }}</label>
            <select name="ddlBook" class="form-control" style="height: 40px;" [(ngModel)]="ddlBook" (change)="onBookChange()" [disabled]="uploader.queue !=0">
            <option *ngFor="let b of books" [value]="b.value"  >{{b.display}}</option>
            </select>
          </div>
          <div class="col-xs-3 form-group">
            <label>{{'Banner Type:'| translate:lang  }}</label>
            <select name="ddlBannerType" class="form-control" style="height: 40px;" [(ngModel)]="ddlBannerType" [disabled]="uploader.queue !=0">
            <option *ngFor="let bt of bannerTypes" [value]="bt.value">{{bt.display}}</option>
            </select>
          </div>
          <div class="col-xs-3 form-group">
            <label>{{'Language:'| translate:lang  }}</label>
            <select name="ddlLanguages" class="form-control" style="height: 40px;" [(ngModel)]="ddlLanguages" [disabled]="uploader.queue !=0">
          <option *ngFor="let language of languages" [value]="language.value">{{language.display}}</option>
            </select>
          </div>
          <div class="col-xs-3 form-group">
            <label>{{'Sports:'| translate:lang  }}</label> 
            <select name="ddlSports" class="form-control" style="height: 40px;" [(ngModel)]="ddlSports" [disabled]="uploader.queue !=0" >
          <option *ngFor="let sport of sports" [value]="sport.value">{{sport.display}}</option>
            </select>
          </div>
        </div>
              <br>

<!--upload image-->
<label >Step 2: Select an image from the web or your computer</label>

      <div class="row" *ngIf="uploader.queue==0">
        <div class="col-xs-4 form-group">
          <label>{{'Image url'| translate:lang  }}</label>
          <input [(ngModel)]="imgUrl" name="imgUrl" required id="imgUrl" type="text" class="form-control" placeholder="image url..." [disabled]="ddlBannerType === 'Dynamic'"
            (blur)="showPreview()">
          <div *ngIf="!showBannerPreview">
            invalid image
          </div>
        </div>
        <div class="col-xs-4 form-group">
          <label>{{'Drag and drop'| translate:lang  }}</label>

          <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
            class="well my-drop-zone">
            Base drop zone
          </div>
        </div>

        <div class="col-xs-4 form-group">
          <label>{{'From your files'| translate:lang  }}</label>
          <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>

      </div>

      <div class="row">

        <div class="col-md-12" style="margin-bottom: 40px">


          <table class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploader.queue">
                <td><strong>{{ item?.file?.name }}</strong></td>
                <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                <td>
                  <div class="progress" style="margin-bottom: 0;">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  </div>
                </td>
                <td class="text-center">
                  <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                  <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                  <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                </td>
                <td nowrap>
                  <button type="button" class="btn btn-success btn-xs" (click)="upload(item)" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> {{'Upload' | translate:lang}}
                        </button>
                  <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> {{'Cancel' | translate:lang}}
                        </button>
                  <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> {{'Remove' | translate:lang}}
                        </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <!--<div>
              Queue progress:
              <div class="progress">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>-->

          </div>

        </div>








        <div class="row">
          <div class="col-xs-3 form-group">
            <label>{{'Custom Size'| translate:lang  }}</label>
            <input type="checkbox" name="customSize" [(ngModel)]="customSize" class="form-control">
          </div>
          <div class="col-xs-3 form-group" *ngIf="customSize">
            <label>{{'Height:'| translate:lang  }}</label>
            <button class="btn btn-default" (click)="minus('imgHeight')">-</button>
            <input [(ngModel)]="imgHeight" name="imgHeight" required id="imgHeight" type="number" max="500" min="25">
            <button class="btn btn-default" (click)="add('imgHeight')">+</button>
          </div>
          <div class="col-xs-3 form-group" *ngIf="customSize">
            <label>{{'Width:'| translate:lang  }}</label>
            <button class="btn btn-default" (click)="minus('imgWidth')">-</button>
            <input [(ngModel)]="imgWidth" name="imgWidth" required id="imgWidth" type="number" max="500" min="25">
            <button class="btn btn-default" (click)="add('imgWidth')">+</button>
          </div>
        </div>
        <div class="row">
          <!--https://www.draftkings.com/-->

          <!--https://68.media.tumblr.com/3ae7352eb46d34fd3e5e0df33478b403/tumblr_n5rzrlQAlX1s7i3n8o1_400.gif-->
          <div *ngIf="showBannerPreview">
            <!--<p> Banner preview: {{imgUrl}} - {{imgHeight}} - {{imgWidth}}</p>-->

            <div *ngIf="customSize;then   customSizeBanner else  fixedSizeBanner"> </div>

            <ng-template #fixedSizeBanner>
              <a [href]="targetUrl" target="_blank" title="Example">
                <img [src]="imgUrl" alt="">
              </a>
            </ng-template>

            <ng-template #customSizeBanner>
              <a [href]="targetUrl" target="_blank" title="Example">
                <img [src]="imgUrl" alt="" [width]="imgWidth" [height]="imgHeight">
              </a>
            </ng-template>
          </div>
        </div>


        <div>
        </div>
      </div>



      <br>


      <div class="row">
        <div class="col-xs-4 form-group">
          <div class="row">
            <div class="col-xs-6 form-group">
              <button class="btn btn-default" (click)="goBack()">  <span class="glyphicon glyphicon-ban-circle"></span> {{'Cancel'  | translate:lang }} </button>
            </div>
            <div class="col-xs-6 form-group">
              <button class="btn btn-success" (click)="save()"> <span class="glyphicon glyphicon-save-file"></span>  {{'Save' | translate:lang}}</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
  <pre>
  {{response | json}}
</pre>

</div>