	<div >

        <p >Established in 1994, Jazz Affiliate Program provides new and established affiliates a positive platform in which to grow their business. Affiliates will benefit from an established and trusted company centered on superior customer service. </p>


        <p >With Jazz Affiliate's you'll benefit working with an experienced affiliate manager who's #1 priority is your success. Commissions are paid every month like clock work. With over 22 + years in the business and the best player retention in the industry, we guarantee you'll love working with us! </p>

	</div>
