<section class="page-content no-padding-bottom">
  <div class="row aboutus-section">
    <div class="overlay"></div>
    <div class="container ja-text-center">
      <span class="glyphicon glyphicon-globe"></span>
      <h2>Get to know Jazz Affiliates</h2>
      <p>Our players, affiliate partners, and bookmakers will receive the<br>personal attention they all deserve. </p>
    </div>
  </div>
  <div class="container padding-top">
    <p class="text-16">Established in 1994, Jazz Affiliate Program provides new and established affiliates a positive platform in which to grow their business. Affiliates will benefit from an established and trusted company centered on superior customer service.</p>

    <p class="text-16">With Jazz Affiliate's you'll benefit working with an experienced affiliate manager who's #1 priority is your success. Commissions are paid every month like clock work. With over 22 + years in the business and the best player retention in the industry, we guarantee you'll love working with us!</p>
  </div>

  <div class="row aboutus-access">
    <div class="overlay"></div>
    <div class="container">
      <h3>Our affiliate partners can access their financials and affiliate reports 24/7 through multiple platforms. </h3>
      <div class="col-md-4">
        <img src="http://www.jazzaffiliates.com/img_external/icons/120px/monitor-lined-white.png" />
        <h4>Internet</h4>
      </div>
      <div class="col-md-4">
        <img src="http://www.jazzaffiliates.com/img_external/icons/120px/tablet-lined-white.png" />
        <h4>Mobile</h4>
      </div>
      <div class="col-md-4">
        <img src="http://www.jazzaffiliates.com/img_external/icons/120px/phone-white.png" />
        <h4>Phone</h4>
      </div>
    </div>
  </div>

</section>

<footer class="frontend-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="http://www.jazzaffiliates.com/img/logo-opacity-dark.png" />
      </div>
      <div class="col-md-6">
        <p>&copy; 2017. « <a href="/">Jazz Affiliates</a> » All Rights Reserved.<br>
        Affiliate System Software</p>
      </div>
    </div>
  </div>
</footer>