<marketing-modal #modal>
  <div class="app-modal-header">
    {{'Get the code' | translate:lang }} !
  </div>

  <div class="app-modal-body">
    HTTP
    <ui-switch [(ngModel)]="httpsON" (change)="modal.onChange($event)"></ui-switch> HTTPS

    <pre>
      <code>    
      {{modal.code}} 
      </code>
    </pre>

  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">{{'Cancel'| translate:lang }}</button>
    <button type="button" class="btn btn-primary" [class.btn-success]="isCopied1" ngxClipboard [cbContent]="modal.code" (cbOnSuccess)="isCopied1 = true">{{'Copy Code' | translate:lang}}</button>
  </div>
</marketing-modal>


<div *ngIf="banners">

  <div class="row">
    <label>{{'Filters:'| translate:lang  }}</label>


  </div>

  <div class="row">

    <div class="col-xs-3 form-group">
      <label>{{'Banner Type:'| translate:lang  }}</label>
      <select name="ddlBannerTypeFilter" class="form-control" style="height: 40px;" [(ngModel)]="ddlBannerTypeFilter" (change)="onChangeBannerTypeFilter()">

            <option *ngFor="let bt of bannerTypesFilter" [value]="bt.value">{{bt.display}}</option>
            </select>
    </div>
    <div class="col-xs-3 form-group">
      <label>{{'Language:'| translate:lang  }}</label>
      <select name="ddlLanguagesFilter" class="form-control" style="height: 40px;" [(ngModel)]="ddlLanguagesFilter" (change)="onChangeBannerTypeFilter()"> 

          <option *ngFor="let language of languagesFilter" [value]="language.value">{{language.display}}</option>
            </select>
    </div>
    <div class="col-xs-3 form-group">
      <label>{{'Sports:'| translate:lang  }}</label>
      <select name="ddlSportsFilter" class="form-control" style="height: 40px;" [(ngModel)]="ddlSportsFilter" (change)="onChangeBannerTypeFilter()">

          <option *ngFor="let sport of sportsfilter" [value]="sport.value">{{sport.display}}</option>
            </select>
    </div>

    <div class="col-xs-3 form-group">

    </div>
  </div>
  <div class="row">
    <button class="btn btn-default" (click)="clearFilters()">  <span class="glyphicon glyphicon-filter"></span>
 {{'Clear filters'| translate:lang }} </button>
    <br>
  </div>
  <div class="row">
    Total banners found: {{bannersToDisplay.length}}
  </div>

  <div *ngIf="loading">
    <app-loading> </app-loading>
  </div>

  <div *ngIf="!loading">

    <table class="table table-responsive  table-hover">
      <tr>
        <th>Banner code</th>
        <th>Book</th>
        <th>Type</th>
        <th>Language</th>
        <th>Sport</th>
        <th>Preview</th>
        <th>Get the code!</th>


      </tr>

      <tr *ngFor="let banner of bannersToDisplay;">
        <td>{{banner.BannerCode}}</td>
        <td>{{banner.IdBook}}</td>
        <td>{{banner.BannerType}}</td>
        <td>{{getLanguageName(banner.IdLanguage)}}</td>
        <td>{{banner.SportId}}</td>

        <td><img src="{{banner.ImageUrl}}" class="imagePreview"></td>
        <td><button class="btn btn-default" (click)="modal.show(banner)"> <span class="glyphicon glyphicon-cloud-download"></span> {{'Copy HTML code' | translate:lang}} </button></td>

      </tr>
    </table>
  </div>

</div>

<!--<pre>
  {{banners | json}}
</pre>-->