<div class="container">
  <h2>{{'Weekly Balances' | translate:lang }}</h2>
  <form #myForm="ngForm" novalidate>

    <div class="row">

      <div class="col-xs-3 form-group">
        <button class="btn btn-default" (click)="goExactly('thisWeek')">{{'This Week' | translate:lang}}</button>
      </div>
      <div class="col-xs-3 form-group">
        <button class="btn btn-default" (click)="goExactly('lastWeek')">{{'Last week' | translate:lang}}</button>
      </div>
      <div class="col-xs-3 form-group">
        <button class="btn btn-default" (click)="goExactly('last2Weeks')">{{'2 weeks ago' | translate:lang}}</button>
      </div>
      <div class="col-xs-3 form-group">
        <button class="btn btn-default" (click)="goExactly('last3Weeks')">{{'3 weeks ago' | translate:lang}}</button>
      </div>
    </div>


    <div class="row">

      <div class="col-xs-3 form-group">
        <label>{{'Select Date:' | translate:lang  }}</label>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-picker>

      </div>

      <div class="col-xs-3 form-group">
        <label>{{'Transaction Type:'| translate:lang  }}</label>
        <select name="ddlTransType" class="form-control" style="height: 40px;" [(ngModel)]="ddlTransType">
            <option *ngFor="let tt of transactionTypes" [value]="tt.value" >{{tt.display}}</option>
            </select>
      </div>
      <div class="col-xs-3 form-group">

      </div>
      <div class="col-xs-3 form-group">

      </div>
    </div>

    <div class="row">

      <div class="col-xs-4 form-group">
        <button class="btn btn-default" (click)="go()">{{'Go' | translate:lang }}</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.AgentList?.length > 0">
    <h2>{{'Period ' | translate:lang}} From {{response.StartDate | date: 'MM/dd/yyyy'}} To {{response.EndDate | date: 'MM/dd/yyyy'}}</h2>
    <button class="btn btn-success" (click)="ExportToExcel()">Export to Excel</button>
    <hr />
    <div *ngFor=" let Item of response.AgentList;">

      <div class="row" style="text-align: center; color: white; background-color: black;">
        {{Item._Agent}}
      </div>

      <div class="row">
        <table class="table">
          <thead>
            <tr>
              <td>Player</td>
              <td>Name</td>
              <td>BalFwd</td>
              <td>Mon</td>
              <td>Tue</td>
              <td>Wed</td>
              <td>Thu</td>
              <td>Fri</td>
              <td>Sat</td>
              <td>Sun</td>
              <td>This Week</td>
              <td>Pending</td>
              <td>Pmts</td>
              <td>Balance</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ItemDetailPlayer of Item.PlayerList;">
              <td>{{ItemDetailPlayer._Player}}</td>
              <td>{{ItemDetailPlayer._Name}}</td>
              <td>{{ItemDetailPlayer._BalFwd | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._WeekDay1 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._WeekDay2 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._WeekDay3 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._WeekDay4 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._WeekDay5 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._WeekDay6 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._WeekDay7 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._ThisWeek | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._AmountAtRisk | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._Ptms | currency:'USD':true:'1.2-2'}}</td>
              <td>{{ItemDetailPlayer._Balance | currency:'USD':true:'1.2-2'}}</td>
            </tr>

            <tr style="background-color: lightgray">
              <td>Total: {{Item.ListPlayer?.length}}</td>
              <td></td>
              <td>{{Item._BalFwd | currency:'USD':true:'1.2-2'}}</td>
              <td>{{Item._WeekDay1 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{Item._WeekDay2 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{Item._WeekDay3 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{Item._WeekDay4 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{Item._WeekDay5 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{Item._WeekDay6 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{Item._WeekDay7 | currency:'USD':true:'1.2-2'}}</td>
              <td>{{Item._ThisWeek | currency:'USD':true:'1.2-2'}}</td>
              <td>--</td>
              <td>{{Item._Ptms | currency:'USD':true:'1.2-2'}}</td>
              <td>{{Item._Balance | currency:'USD':true:'1.2-2'}}</td>
            </tr>

          </tbody>
        </table>
        <br>
      </div>
    </div>
  </div>

  <!--<pre>
  {{response | json}}
</pre>-->
</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>