<p>
  weekly-balances works!
</p>

<button (click)="go2()" >go2</button>

<pre>
  {{response2 | json}}
</pre>

<!--
		<div class="data">
			<h2>Received data ({{randomData.length}}, reset after 20): </h2>
			<p *ngFor="let data of randomData">{{ data }}</p>
		</div>-->

<!--
		<h2>New message:</h2>	
		  <div class="input-group col-xs-8">		   
                <input
                    [(ngModel)]="message.message"
                    name="msg"                    
                    type="text"
                    class="form-control"
                    placeholder="message...">
                <span class="input-group-btn">
                    <button                       
                        class="btn btn-secondary"
                        (click)="sendMsg()">send</button>
                </span>
            </div>

				<div class="messages">
			<h2>Recieved messages:</h2>
			<p *ngFor="let msg of messages">
				<strong>({{msg.author}})</strong> 
				{{msg.message}} ({{msg.newDate}})</p>
		</div>-->