<div class="container">
  <h2>{{'My sub-agents' | translate:lang }}</h2>
  <div class="row">
    <div class="pull-right">
      <button class="btn btn-default" (click)="goToAddAgent()">  <span class="glyphicon glyphicon-plus"></span>
 {{'New agent' | translate:lang }} </button>
    </div>
  </div>
<br>

  <div *ngIf="response">

    <div *ngFor="let agent of response">
      <div *ngIf="agent.SubAgents?.length > 0" class="table">
        <div *ngFor="let subagent of agent.SubAgents" class="agent1">
          <div class="row">
            <div class="col-xs-3 form-group">
              {{subagent.Agent}}
            </div>
            <div class="col-xs-3 form-group">
            </div>
            <div class="col-xs-3 form-group">
              <button class="btn btn-default" (click)="viewAs(subagent.IdAgent,subagent.Agent )">View as</button>
            </div>
            <div class="col-xs-3 form-group">
              <button class="btn btn-danger" (click)="deactivateAgent(subagent.IdAgent)">Disable</button>
            </div>
          </div>
          <div *ngIf="subagent.SubAgents?.length > 0">
            <div *ngFor="let subsubagent of subagent.SubAgents" class="agent2">
              <div class="row">
                <div class="col-xs-3 form-group">
                </div>
                <div class="col-xs-3 form-group">
                  {{subsubagent.Agent}}
                </div>
                <div class="col-xs-3 form-group">
                  <button class="btn btn-default" (click)="viewAs(subsubagent.IdAgent,subsubagent.Agent)">View as</button>
                </div>
                <div class="col-xs-3 form-group">
                  <button class="btn btn-danger" (click)="deactivateAgent(subsubagent.IdAgent)">Disable</button>
                </div>
              </div>
            </div>
          </div>
          <br>

        </div>
      </div>
      <br>

      <!--<div *ngIf="agent.PlayerList?.length > 0">
        players
        <div *ngFor="let player of agent.PlayerList">
          {{player.Player}}
        </div>
      </div>-->
      <br>

    </div>

    <!--<table class="table table-hover">
      <thead>
        <tr>

          <th>{{'Agent' | translate:lang}}</th>
          <th>{{'Password' | translate:lang}}</th>
          <th>{{'Enable' | translate:lang}}</th>
          <th>{{'Name' | translate:lang}}</th>
          <th>{{'Email' | translate:lang}}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let PreAff of response">
          <td>
            {{PreAff.Agent}}
          </td>
          <td>
            {{PreAff.Password}}
          </td>
          <td>
            {{PreAff.Enable}}
          </td>
          <td>
            {{PreAff.Name}}
          </td>
          <td>
            {{PreAff.Email }}
          </td>
          <td>
            <button class="btn btn-default" (click)="viewAs(PreAff.IdAgent,PreAff.Agent )">View as</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deactivateAgent(PreAff.IdAgent)">Disable</button>
          </td>
        </tr>
      </tbody>
    </table>-->
  </div>

</div>
<div *ngIf="loading">
  <app-loading> </app-loading>
</div>

<pre>
  {{response | json}}
</pre>