<div class="container padding-top-small" id="reportContent">

  <div *ngIf="isEditMode;then editMode  else listMode"> </div>
  <ng-template #listMode>

    <h1>{{'My agents' | translate:lang }}
      <button class="btn btn-success pull-right" (click)="goToAddAgent()">
        <span class="glyphicon glyphicon-plus"></span> {{'NEW AGENT' | translate:lang }}
      </button>
    </h1>

    <div *ngIf="response">

      <div *ngFor="let agent of response">
        <div *ngIf="agent.SubAgents?.length > 0" class="table">
          <div *ngFor="let subagent of agent.SubAgents" class="agent1 well">
            <div class="row">
              <div class="col-md-4">
                <h4><i class="fa fa-user-circle" aria-hidden="true"></i> {{subagent.Agent}}</h4>
              </div>
              <div class="col-md-4">
              </div>
              <div class="col-md-2">
                <button class="btn btn-default" (click)="viewAs(subagent.IdAgent,subagent.Agent )">View as</button>
              </div>
              <div class="col-md-2">
                <button class="btn btn-danger" (click)="deactivateAgent(subagent.IdAgent)">Disable</button>
              </div>
            </div>
            <div *ngIf="subagent.SubAgents?.length > 0">
              <div *ngFor="let subsubagent of subagent.SubAgents" class="agent2">
                <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-3 a-border">
                    &nbsp;
                  </div>
                  <div class="col-md-4">
                    <h5>{{subsubagent.Agent}}</h5>
                  </div>
                  <div class="col-xs-6 col-md-2">
                    <button class="btn btn-default" (click)="viewAs(subsubagent.IdAgent,subsubagent.Agent)">View as</button>
                  </div>
                  <div class="col-xs-6 col-md-2">
                    <button class="btn btn-danger" (click)="deactivateAgent(subsubagent.IdAgent)">Disable</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!--<div *ngIf="agent.PlayerList?.length > 0">
        players
        <div *ngFor="let player of agent.PlayerList">
          {{player.Player}}
        </div>
      </div>-->

      </div>

      <!--<table class="table table-hover">
      <thead>
        <tr>

          <th>{{'Agent' | translate:lang}}</th>
          <th>{{'Password' | translate:lang}}</th>
          <th>{{'Enable' | translate:lang}}</th>
          <th>{{'Name' | translate:lang}}</th>
          <th>{{'Email' | translate:lang}}</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let PreAff of response">
          <td>
            {{PreAff.Agent}}
          </td>
          <td>
            {{PreAff.Password}}
          </td>
          <td>
            {{PreAff.Enable}}
          </td>
          <td>
            {{PreAff.Name}}
          </td>
          <td>
            {{PreAff.Email }}
          </td>
          <td>
            <button class="btn btn-default" (click)="viewAs(PreAff.IdAgent,PreAff.Agent )">View as</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="deactivateAgent(PreAff.IdAgent)">Disable</button>
          </td>
        </tr>
      </tbody>
    </table>-->
    </div>
  </ng-template>


  <ng-template #editMode>
    <div class="row">
      <div class="pull-right">
        <button class="btn btn-default" (click)="goBack()"> <span class="glyphicon glyphicon-arrow-left"></span> {{'Back' | translate:lang}} </button>

      </div>
    </div>


    <form id="signup-form" #signupForm="ngForm" (ngSubmit)="signup(signupForm.value)" autocomplete="off" novalidate>
      <!--<label>Step 1: Select the categories of the new banner</label>-->

      <div class="row">
        <div class="form-group col-xs-6">
          <label for="name">{{'First name:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.name?.invalid && (signupForm.controls.name?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.FirstName" name="name" required id="name" type="text" class="form-control" placeholder="Name..."
          />
        </div>

        <div class="form-group col-xs-6">
          <label for="lastname">{{'Last name:' | translate:lang}} </label>
          <em *ngIf="signupForm.controls.lastname?.invalid && (signupForm.controls.lastname?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.LastName" name="lastname" required id="lastname" type="text" class="form-control" placeholder="Lastname..."
          />
        </div>

        <div class="form-group col-xs-6">
          <label for="email">{{'Email:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.email?.invalid && (signupForm.controls.email?.touched || mouseoverContact) || signupForm.controls.email?.pattern==false">Required,  incorrect email format</em>
          <input (ngModel)="email" name="email" required id="email" type="email" class="form-control" placeholder="Email..." pattern="^[A-Za-z0-9](([_\.\-]?[a-zA-Z0-9]+)*)@([A-Za-z0-9]+)(([\.\-]?[a-zA-Z0-9]+)*)\.([A-Za-z]{2,})$"
          />
        </div>


        <div class="form-group col-xs-6">
          <label for="phone">{{'Phone:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.phone?.invalid && (signupForm.controls.phone?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.Phone" name="phone" required id="phone" type="text" class="form-control" placeholder="phone..."
          />
        </div>

        <div class="form-group col-xs-6">
          <label for="nickname">{{'Desired nickname' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.AgentName?.invalid && (signupForm.controls.AgentName?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.AgentName" name="AgentName" required id="AgentName" type="text" class="form-control" placeholder="nickname..."
          />
        </div>



        <div class="form-group col-xs-6">
          <label for="AgentPassword">{{'Desired password' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.AgentPassword?.invalid && (signupForm.controls.AgentPassword?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.AgentPassword" name="AgentPassword" required id="AgentPassword" type="text" class="form-control"
            placeholder="password..." />
        </div>
        <!--<div class="form-group col-xs-6">
          <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" [disabled]="signupForm.invalid" class="btn btn-success">Create Affiliate</button>
    </span>
          <button type="button" (click)="reject()" class="btn btn-danger">{{'Reject' | translate:lang}}</button>

          <button type="button" (click)="closeDetails()" class="btn btn-default">{{'Cancel' | translate:lang}}</button>

        </div>-->

      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <button type="button" (click)="goBack()" class="btn btn-default btn-block">{{'Cancel' | translate:lang}}</button>
        </div>
        <div class="form-group col-md-6">
          <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
              <button type="submit" [disabled]="signupForm.invalid" class="btn btn-success btn-block">Create Agent!</button>
            </span>
        </div>
      </div>
    </form>

  </ng-template>


</div>
<div *ngIf="loading">
  <app-loading> </app-loading>
</div>

<!--<pre>
  {{response | json}}
</pre>-->