<div class="container">
  <h2>{{'Player Totals' | translate:lang }}</h2>
  <form #myForm="ngForm" novalidate>
    <div class="row">

      <div class="col-xs-3 form-group">

        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>

      </div>
      <div class="col-xs-3 form-group">

      </div>
      <div class="col-xs-3 form-group">

      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 form-group">
        <button class="btn btn-default" (click)="go()">GO!</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.AgentList?.length > 0">
    <h2>{{'Period' | translate:lang}} {{response.StartDate | date: 'MM/dd/yyyy'}} To {{response.EndDate | date: 'MM/dd/yyyy'}}</h2>
    <p></p>


    <div *ngFor="let Item of response.AgentList;">


      <div class="row" style="text-align: center; color: white; background-color: black;">
        {{Item._agent}}
      </div>

      <table class="table table-responsive">
        <thead>
          <tr style="background-color: lightgray">
            <td>Player</td>
            <td>Last Wager</td>
            <td>Open Bets</td>
            <td>Graded Bets Amount</td>
            <td>Win</td>
            <td>Loss</td>
            <td>Net</td>
            <td>Currency</td>
            <td>Current Balance</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ItemDetailPlayer of Item.PlayerList">
            <td>{{ItemDetailPlayer._player}}</td>
            <td>{{ItemDetailPlayer._lastwager}}</td>
            <td [ngClass]="(ItemDetailPlayer._totalriskopen < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._totalriskopen | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._totalriskgraded < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._totalriskgraded | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._win < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._win | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._lose < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._lose | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._net < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._net | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._current < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._current}}</td>
            <td [ngClass]="(ItemDetailPlayer._currentbalance < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._currentbalance | currency:'USD':true:'1.2-2'}}</td>
          </tr>

          <tr>
            <td>Total Players: {{Item.PlayerList.length}}</td>
            <td></td>
            <td [ngClass]="(getTotal(Item, '_totalriskopen'))?'redNumber':'greenNumber'">{{getTotal(Item, '_totalriskopen') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(getTotal(Item, '_totalriskgraded'))?'redNumber':'greenNumber'">{{getTotal(Item, '_totalriskgraded') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(getTotal(Item, '_win'))?'redNumber':'greenNumber'">{{getTotal(Item, '_win') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(getTotal(Item, '_lose'))?'redNumber':'greenNumber'">{{getTotal(Item, '_lose') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(getTotal(Item, '_net'))?'redNumber':'greenNumber'">{{getTotal(Item, '_net') | currency:'USD':true:'1.2-2'}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>




      <hr />

    </div>

  </div>

  <pre>
  {{response | json}}
</pre>

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>