<div class="container" id="reportContent">
  <h1>{{'Player Totals' | translate:lang }}</h1>
  <form #myForm="ngForm" novalidate>
    <div class="row well">

      <div class="col-md-4">

        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>
      <div class="col-md-4">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>

      </div>
      <div class="col-md-4 ja-text-right padding-top-small">
        <button class="btn btn-success" (click)="go()">{{'GO!' | translate:lang}}</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.AgentList?.length > 0">

    <div class="row">
      <div class="col-md-10">
        <h3>{{'Period' | translate:lang}} {{response.StartDate | date: 'MM/dd/yyyy'}} To {{response.EndDate | date: 'MM/dd/yyyy'}}</h3>
      </div>
      <div class="col-md-2">
        
      </div>
    </div>


    <div *ngFor="let Item of response.AgentList;">


      <div class="table-responsive">
      <table class="table">
        <caption><i class="fa fa-chevron-down" aria-hidden="true"></i> {{Item._agent}}</caption>
        <thead>
          <tr>
            <th>Player</th>
            <th>Last Wager</th>
            <th>Open Bets</th>
            <th>Graded Bets Amount</th>
            <th>Win</th>
            <th>Loss</th>
            <th>Net</th>
            <th>Currency</th>
            <th>Current Balance</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ItemDetailPlayer of Item.PlayerList">
            <td>{{ItemDetailPlayer._player}}</td>
            <td>{{ItemDetailPlayer._lastwager}}</td>
            <td [ngClass]="(ItemDetailPlayer._totalriskopen < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._totalriskopen | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._totalriskgraded < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._totalriskgraded | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._win < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._win | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._lose < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._lose | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._net < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._net | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._current < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._current}}</td>
            <td [ngClass]="(ItemDetailPlayer._currentbalance < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._currentbalance | currency:'USD':true:'1.2-2'}}</td>
          </tr>

          <tr>
            <td>Total Players: {{Item.PlayerList.length}}</td>
            <td></td>
            <td [ngClass]="(getTotal(Item, '_totalriskopen'))?'redNumber':'greenNumber'">{{getTotal(Item, '_totalriskopen') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(getTotal(Item, '_totalriskgraded'))?'redNumber':'greenNumber'">{{getTotal(Item, '_totalriskgraded') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(getTotal(Item, '_win'))?'redNumber':'greenNumber'">{{getTotal(Item, '_win') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(getTotal(Item, '_lose'))?'redNumber':'greenNumber'">{{getTotal(Item, '_lose') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(getTotal(Item, '_net'))?'redNumber':'greenNumber'">{{getTotal(Item, '_net') | currency:'USD':true:'1.2-2'}}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
      </div>


    </div>

  </div>
<!--
  <pre>
  {{response | json}}
</pre>-->

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>