<div class="container">
  <h2>{{'Affiliate applications' | translate:lang }}</h2>
  <div class="row">
    <div class="pull-right">
      <button class="btn btn-default" (click)="getData()">  <span class="glyphicon glyphicon-refresh"></span>
 {{'Refresh' | translate:lang }} </button>
    </div>
  </div>
  <div *ngIf="loading">
    <app-loading> </app-loading>
  </div>
  <div *ngIf="!showDetails">
    <div *ngIf="response?.length > 0">


      <table class="table table-hover">
        <thead>
          <tr>

            <th>{{'First name' | translate:lang}}</th>
            <th>{{'Last name' | translate:lang}}</th>
            <th>{{'Country' | translate:lang}}</th>
            <th>{{'business name' | translate:lang}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let PreAff of response">
            <td>
              {{PreAff.FirstName}}
            </td>
            <td>
              {{PreAff.LastName}}
            </td>
            <td>
              {{PreAff.CountryName}}
            </td>
            <td>
              {{PreAff.BusinessName}}
            </td>

            <td>
              <button type="button" (click)="DetailsAffiliate(PreAff);" class="btn btn-sm btn-warning">
                        Details
                    </button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div *ngIf="!loading && !response?.length > 0">
    <p>
      There are no new affiliate applications :(
    </p>
  </div>


  <div *ngIf="showDetails">


    <h3>Preaffiliate Details</h3>

    <form #signupForm="ngForm" (ngSubmit)="CreateAgent(signupForm.value)" autocomplete="off" novalidate>

      <div class="row">
        <div class="form-group col-xs-6">
          <label for="name">{{'First name:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.name?.invalid && (signupForm.controls.name?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.FirstName" name="name" required id="name" type="text" class="form-control" placeholder="Name..."
          />
        </div>

        <div class="form-group col-xs-6">
          <label for="lastname">{{'Last name:' | translate:lang}} </label>
          <em *ngIf="signupForm.controls.lastname?.invalid && (signupForm.controls.lastname?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.LastName" name="lastname" required id="lastname" type="text" class="form-control" placeholder="Lastname..."
          />
        </div>

        <div class="form-group col-xs-6">
          <label for="email">{{'Email:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.email?.invalid && (signupForm.controls.email?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.Email" name="email" required id="email" type="email" class="form-control" placeholder="email..."
          />
        </div>

        <div class="form-group col-xs-6">
          <label for="CountryName">{{'Country:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.CountryName?.invalid && (signupForm.controls.CountryName?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.CountryName" name="CountryName" required id="CountryName" type="text" class="form-control"
            placeholder="country Name..." />
        </div>

        <div class="form-group col-xs-6">
          <label for="businessName">{{'Business name:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.businessName?.invalid && (signupForm.controls.businessName?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.BusinessName" name="businessName" required id="businessName" type="text" class="form-control"
            placeholder="Business Name..." />
        </div>

        <div class="form-group col-xs-6">
          <label for="addressLine1">{{'Address line 1:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.addressLine1?.invalid && (signupForm.controls.addressLine1?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.Address1" name="addressLine1" required id="addressLine1" type="text" class="form-control"
            placeholder="Address Line 1..." />
        </div>


        <div class="form-group col-xs-6">
          <label for="addressLine2">{{'Address line 2:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.addressLine2?.invalid && (signupForm.controls.addressLine2?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.Address2" name="addressLine2" required id="addressLine2" type="text" class="form-control"
            placeholder="Address Line 2..." />
        </div>

        <div class="form-group col-xs-6">
          <label for="city">{{'City:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.city?.invalid && (signupForm.controls.city?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.City" name="city" required id="city" type="text" class="form-control" placeholder="Address Line 2..."
          />
        </div>


        <div class="form-group col-xs-6">
          <label for="zip">{{'Zip:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.zip?.invalid && (signupForm.controls.zip?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.ZipCode" name="zip" required id="zip" type="text" class="form-control" placeholder="Address Line 2..."
          />
        </div>



        <div class="form-group col-xs-6">
          <label for="CountryDialCode">{{'Country code:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.CountryDialCode?.invalid && (signupForm.controls.CountryDialCode?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.CountryDialCode" name="CountryDialCode" required id="CountryDialCode" type="text" class="form-control"
            placeholder="Address Line 2..." />
        </div>

        <div class="form-group col-xs-6">
          <label for="phone">{{'Phone:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.phone?.invalid && (signupForm.controls.phone?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.Phone" name="phone" required id="phone" type="text" class="form-control" placeholder="phone..."
          />
        </div>

        <div class="form-group col-xs-6">
          <label for="nickname">{{'Desired nickname' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.AgentName?.invalid && (signupForm.controls.AgentName?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.AgentName" name="AgentName" required id="AgentName" type="text" class="form-control" placeholder="nickname..."
          />
        </div>

        <div class="form-group col-xs-6">
          <label for="targetBook">{{'Product:' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.targetBook?.invalid && (signupForm.controls.targetBook?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <select name="ddlBook" class="form-control" style="height: 40px;" [(ngModel)]="ddlBook" (change)="changeBook($event.target.value)">
          <option *ngFor="let book of books" [value]="book.value">{{book.display}}</option>
            </select>
          <br>
          <img [src]="bookImg" alt="book" [ngClass]="myClass">

        </div>

        <div class="form-group col-xs-6">
          <label for="AgentPassword">{{'Desired password' | translate:lang}}</label>
          <em *ngIf="signupForm.controls.AgentPassword?.invalid && (signupForm.controls.AgentPassword?.touched || mouseoverLogin)">{{'Required' | translate:lang}}</em>
          <input [(ngModel)]="preAffiliate.AgentPassword" name="AgentPassword" required id="AgentPassword" type="text" class="form-control"
            placeholder="password..." />
        </div>
        <div class="form-group col-xs-6">
          <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" [disabled]="signupForm.invalid" class="btn btn-success">Create Affiliate</button>
    </span>
          <button type="button" (click)="reject()" class="btn btn-danger">{{'Reject' | translate:lang}}</button>

          <button type="button" (click)="closeDetails()" class="btn btn-default">{{'Cancel' | translate:lang}}</button>

        </div>

      </div>


    </form>


  </div>
  <!--
  <pre>
  {{response | json}}
</pre>-->

</div>