<div class="container" id="reportContent">
  <h1>{{'Agent History' | translate:lang }}</h1>
  <form #myForm="ngForm" novalidate>
    <div class="row well">

      <div class="col-md-3">
        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>
      <div class="col-md-3">
        <label>{{'Transaction Type:'| translate:lang  }}</label>
        <select name="ddlTransType" class="form-control" style="height: 40px;" [(ngModel)]="ddlTransType">
            <option *ngFor="let tt of transactionTypes" [value]="tt.value">{{tt.display}}</option>
            </select>

      </div>
      <div class="col-md-3">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>

      </div>
      <div class="col-md-3 ja-text-right padding-top-small">
        <button class="btn btn-success" (click)="go()">GO!</button>
      </div>
    </div>

  </form>

  <div *ngIf="response">

    <div class="row">
      <div class="col-md-10">
        
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-block" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
      </div>
    </div>
    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{'Date' | translate:lang}}</th>
          <th>{{'TransactionType' | translate:lang}}</th>
          <th>{{'Description' | translate:lang}}</th>
          <th>{{'Amount' | translate:lang}}</th>
          <th>{{'Balance' | translate:lang}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
          </td>
          <td>

          </td>
          <td>
            Balance Forward
          </td>
          <td [ngClass]="response.BalanceFw < 0 ? 'redNumber' : 'greenNumber'">
            {{response.BalanceFw}}
          </td>
          <td>

          </td>
        </tr>
        <tr *ngFor="let PreAff of response.HistoryData">
          <td>
            {{PreAff.Date | date}}
          </td>
          <td>
            {{PreAff.TypeTrans === 'T'?'XFER':PreAff.TypeTrans}}
          </td>
          <td>
            {{PreAff.Description}}
          </td>
          <td [ngClass]="PreAff.Amount < 0 ? 'redNumber' : 'greenNumber'">
            {{PreAff.Amount}}
          </td>
          <td [ngClass]="PreAff.Balance < 0 ? 'redNumber' : 'greenNumber'">
            {{PreAff.Balance}}
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
<!--
  <pre>
  {{response | json}}
</pre>-->

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>