.contact-form {
	padding: 80px 0;
	margin-bottom: 100px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
em { 
	float:right; 
	color:#E05C65; 
	padding:0 20px; 
	font-weight:bold; 
	font-size:12px;
}
.contact-form form {
	border-radius: 5px;
	border:1px solid #CCC;
	background: #EEE;
	padding:20px;
}