<div class="navbar navbar-default noAni">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="makeMeWhiteAndNice">
        <img src="http://www.jazzaffiliates.com/img/logo.png" alt="">

      </div>
      <!--<a class="navbar-brand">{{auth.siteName}} Site Beta</a>-->
      <div class="makeMeWhiteAndNice">
        <p>
          20+ years in business
        </p>
        <p>
          <span class="glyphicon glyphicon-phone-alt"> </span>+1.800.681.1066
        </p>
      </div>
    </div>
    <ul class="nav navbar-nav" *ngIf="auth.isAdminSite()">
      <li *ngIf="auth.isAuthenticated()"> <a [routerLink]="['/preAffiliates']" routerLinkActive="active">{{ 'PreAffiliates' | translate:lang }}</a></li>
      <!--<li *ngIf="auth.isAuthenticated()"> <a [routerLink]="['/preAffiliates']" routerLinkActive="active">{{ 'PrePPHs' | translate:lang }}</a></li>-->
      <li *ngIf="auth.isAuthenticated()"> <a [routerLink]="['/bannerFarm']" routerLinkActive="active">{{ 'Banner farm' | translate:lang }}</a></li>


      <li *ngIf="auth.isAuthenticated()"> <a [routerLink]="['/affiliatesAdmin']" routerLinkActive="active">{{ 'Affiliates Admin' | translate:lang }}</a></li>
      <!--<li *ngIf="auth.isAuthenticated()"> <a [routerLink]="['/affiliatesAdmin']" routerLinkActive="active">{{ 'PPH Admin' | translate:lang }}</a></li>-->

    </ul>
    <div class="navbar-header navbar-right" *ngIf="auth.isAdminSite()">

      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['user/adminLogin']" *ngIf="!auth.isAuthenticated()"><span class="glyphicon glyphicon-log-in"></span>{{ ' Admin Login' | translate:lang}}</a>

        </li>
        <li>
          <a *ngIf="auth.isAuthenticated()" (click)="logout()" class="logout"><span class="glyphicon glyphicon-log-out"></span>{{ ' Log out'| translate:lang}} </a>
        </li>
      </ul>
    </div>

    <ul class="nav navbar-nav" *ngIf="!auth.isAdminSite()">
      <li *ngIf="!auth.isAuthenticated() && auth.isAffiliateSite()">
        <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{ 'Home' | translate:lang }} </a>
      </li>

      <li *ngIf="!auth.isAuthenticated() && auth.isPPHSite()">

        <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{ 'Home' | translate:lang }} </a>
      </li>

      <li *ngIf="!auth.isAuthenticated() && auth.isAffiliateSite() && !auth.isPPHSite()">
        <a>
          <div dropdown class="dropdown">
            <div dropdownToggle class="dropdown-toggle">
              {{'How it works' | translate:lang}}
              <span class="caret"></span>
            </div>
            <div dropdownMenu class="dropdown-menu">
              <li><a [routerLink]="['/howitworks']" routerLinkActive="active">{{ 'How it works' | translate:lang }}</a></li>
              <li *ngIf="!auth.isAuthenticated() && !auth.isAffiliateSite()"><a [routerLink]="['/howitworkspph']" routerLinkActive="active">{{ 'How it works' | translate:lang }}</a></li>
              <li *ngIf="!auth.isAuthenticated() && !auth.isAffiliateSite()"><a [routerLink]="['/demopph']" routerLinkActive="active">{{ 'Demo PPH' | translate:lang }}</a></li>
              <li><a [routerLink]="['/demo']" routerLinkActive="active">{{ 'Demo' | translate:lang }}</a></li>
              <li *ngIf="!auth.isAuthenticated() && !auth.isAffiliateSite()"><a [routerLink]="['/signinguppph']" routerLinkActive="active">{{ 'Signing up PPH' | translate:lang }}</a></li>
              <li><a [routerLink]="['/signingUp']" routerLinkActive="active">{{ 'Signining up' | translate:lang }}</a></li>
              <li><a [routerLink]="['/gallery']" routerLinkActive="active">{{ 'Gallery' | translate:lang }}</a></li>
              <li *ngIf="!auth.isAuthenticated() && !auth.isAffiliateSite()"><a [routerLink]="['/gallerypph']" routerLinkActive="active">{{ 'Gallery PPH' | translate:lang }}</a></li>
            </div>
          </div>
        </a>
      </li>

      <li *ngIf="!auth.isAuthenticated() && !auth.isAffiliateSite() && auth.isPPHSite()">
        <a>
          <div dropdown class="dropdown">
            <div dropdownToggle class="dropdown-toggle">
              {{'Pay per head' | translate:lang}}
              <span class="caret"></span>
            </div>
            <div dropdownMenu class="dropdown-menu">
              <li><a [routerLink]="['/servicespph']" routerLinkActive="active">{{ 'PPH Services' | translate:lang }}</a></li>
              <li><a [routerLink]="['/productspph']" routerLinkActive="active">{{ 'PPH Products' | translate:lang }}</a></li>
              <li><a [routerLink]="['/feespph']" routerLinkActive="active">{{ 'PPH Fees' | translate:lang }}</a></li>
            </div>
          </div>
        </a>
      </li>

      <li *ngIf="!auth.isAuthenticated()">
        <a>
          <div dropdown class="dropdown">
            <div dropdownToggle class="dropdown-toggle">
              {{'Features' | translate:lang}}
              <span class="caret"></span>
            </div>
            <div dropdownMenu class="dropdown-menu">
              <li *ngIf="!auth.isAuthenticated() && auth.isAffiliateSite() && !auth.isPPHSite()"><a [routerLink]="['/payments']" routerLinkActive="active">{{ 'Payments' | translate:lang }}</a></li>
              <li *ngIf="!auth.isAuthenticated() && auth.isAffiliateSite() && !auth.isPPHSite()"><a [routerLink]="['/FAQ']" routerLinkActive="active">{{ 'Faq' | translate:lang }}</a></li>
              <li *ngIf="!auth.isAuthenticated() && auth.isAffiliateSite() && !auth.isPPHSite()"><a [routerLink]="['/aboutUs']" routerLinkActive="active">{{ 'About us' | translate:lang }}</a></li>
              <li *ngIf="!auth.isAuthenticated() && !auth.isAffiliateSite() && auth.isPPHSite()"><a [routerLink]="['/paymentspph']" routerLinkActive="active">{{ 'PPH Payments' | translate:lang }}</a></li>
              <li *ngIf="!auth.isAuthenticated() && !auth.isAffiliateSite() && auth.isPPHSite()"><a [routerLink]="['/FAQpph']" routerLinkActive="active">{{ 'PPH Faq' | translate:lang }}</a></li>
              <li *ngIf="!auth.isAuthenticated() && !auth.isAffiliateSite() && auth.isPPHSite()"><a [routerLink]="['/aboutuspph']" routerLinkActive="active">{{ 'PPH About us' | translate:lang }}</a></li>
            </div>
          </div>
        </a>
      </li>

      <li *ngIf="!auth.isAuthenticated() && auth.isAffiliateSite() && !auth.isPPHSite()"><a [routerLink]="['/ToS']" routerLinkActive="active">{{ 'Terms of Service' | translate:lang }}</a></li>
      <li *ngIf="!auth.isAuthenticated()  && !auth.isAffiliateSite() && auth.isPPHSite()"><a [routerLink]="['/ToSpph']" routerLinkActive="active">{{ 'Terms of Service PPH' | translate:lang }}</a></li>


      <li *ngIf="!auth.isAuthenticated()  && !auth.isAffiliateSite() && auth.isPPHSite()"><a [routerLink]="['/signuppph']" routerLinkActive="active">{{ 'Sign up PPH' | translate:lang }}</a></li>
      <li *ngIf="!auth.isAuthenticated()  && auth.isAffiliateSite() && !auth.isPPHSite()"><a [routerLink]="['/signup']" routerLinkActive="active">{{ 'Sign up' | translate:lang }}</a></li>

      <!--

not authorized
authorized-->

      <li *ngIf="auth.isAuthenticated()"><a [routerLink]="['/main']" routerLinkActive="active">{{ 'Dashboard' | translate:lang }}</a></li>
      <li *ngIf="auth.isAuthenticated()"><a [routerLink]="['/myAgents']" routerLinkActive="active">{{ 'My Agents' | translate:lang }}</a></li>

      <!--<li *ngIf="auth.isAuthenticated() && auth.hasAgentAccess()"><a [routerLink]="['/mainpph']" routerLinkActive="active">{{ 'Main PPH' | translate:lang }}</a></li>

      <li *ngIf="auth.isAuthenticated() && auth.hasAgentAccess()"><a [routerLink]="['/affiliatemain']" routerLinkActive="active">{{ 'Affiliate Main' | translate:lang }}</a></li>
-->


      <li *ngIf="auth.isAuthenticated()">
        <a>
          <div dropdown class="dropdown">
            <div dropdownToggle class="dropdown-toggle">
              {{'Banking' | translate:lang}}
              <span class="caret"></span>
            </div>
            <div dropdownMenu class="dropdown-menu">
              <li><a [routerLink]="['/weeklyBalances']" routerLinkActive="active">{{ 'Weekly Balances' | translate:lang }}</a></li>
              <li><a [routerLink]="['/depositsandWithdrawals']" routerLinkActive="active">{{ 'Deposits and withdrawals' | translate:lang }}</a></li>
              <li><a [routerLink]="['/weeklyTransactions']" routerLinkActive="active">{{ 'Weekly Transactions' | translate:lang }}</a></li>
              <li><a [routerLink]="['/playerStandings']" routerLinkActive="active">{{ 'Player Standings' | translate:lang }}</a></li>
              <li><a [routerLink]="['/grossWeek']" routerLinkActive="active">{{ 'Gross Week' | translate:lang }}</a></li>
              <li><a [routerLink]="['/cashFlow']" routerLinkActive="active">{{ 'Cash Flow Balances' | translate:lang }}</a></li>
              <li><a [routerLink]="['/weeklyPayments']" routerLinkActive="active">{{ 'Weekly Payments' | translate:lang }}</a></li>
              <li *ngIf="!auth.siteName === Affiliates"><a [routerLink]="['/settledFigures']" routerLinkActive="active">{{ 'Settled Figures' | translate:lang }}</a></li>
              <li><a [routerLink]="['/monthlySummary']" routerLinkActive="active">{{ 'Monthly Summary' | translate:lang }}</a></li>

            </div>
          </div>
        </a>
      </li>

      <li *ngIf="auth.isAuthenticated() ">
        <a>
          <div dropdown class="dropdown">
            <div dropdownToggle class="dropdown-toggle">
              {{'Agent' | translate:lang}}
              <span class="caret"></span>
            </div>
            <div dropdownMenu class="dropdown-menu">
              <li><a [routerLink]="['/agentCommission']" routerLinkActive="active">{{ 'Commission' | translate:lang }}</a></li>
              <li><a [routerLink]="['/agentExposure']" routerLinkActive="active">{{ 'Exposure' | translate:lang }}</a></li>
              <li><a [routerLink]="['/agentPosition']" routerLinkActive="active">{{ 'Position' | translate:lang }}</a></li>
              <li><a [routerLink]="['/agentDistribution']" routerLinkActive="active">{{ 'Distribution' | translate:lang }}</a></li>
              <li><a [routerLink]="['/agentHistory']" routerLinkActive="active">{{ 'History' | translate:lang }}</a></li>
              <li><a [routerLink]="['/agentadjustment']" routerLinkActive="active">{{ 'Adjustments' | translate:lang }}</a></li>
              <li *ngIf="!auth.siteName === Affiliates"><a [routerLink]="['/agentAccessLog']" routerLinkActive="active">{{ 'Access log' | translate:lang }}</a></li>
              <li><a [routerLink]="['/agentCardTransactions']" routerLinkActive="active">{{ 'Card Transactions' | translate:lang }}</a></li>
              <li><a [routerLink]="['/holdPercentage']" routerLinkActive="active">{{ 'Hold Percentage' | translate:lang }}(*In-progress*)</a></li>
              <li><a [routerLink]="['/platinumLiveWager']" routerLinkActive="active">{{ 'Platinum Live Wager' | translate:lang }}(PHASE II )</a></li>
              <li><a [routerLink]="['/agentPayments']" routerLinkActive="active">{{ 'Agent Payments' | translate:lang }}(PHASE II )</a></li>
              <li *ngIf="!auth.siteName === Affiliates"><a [routerLink]="['/onlineMessages']" routerLinkActive="active">{{ 'Online Messages' | translate:lang }}</a></li>
              <li><a [routerLink]="['/webVsPhone']" routerLinkActive="active">{{ 'Web vs Phone' | translate:lang }}</a></li>
            </div>
          </div>
        </a>
      </li>

      <li *ngIf="auth.isAuthenticated()" class="alwaysOnTop">
        <a>
          <div dropdown class="dropdown">
            <div dropdownToggle class="dropdown-toggle">
              {{'Players' | translate:lang}}
              <span class="caret"></span>
            </div>
            <div dropdownMenu class="dropdown-menu">
              <li><a [routerLink]="['/actionByPlayer']" routerLinkActive="active">{{ 'Action By Player' | translate:lang }}</a></li>
              <li><a [routerLink]="['/playerHistory']" routerLinkActive="active">{{ 'Player History' | translate:lang }}(*In-progress*)</a></li>
              <li><a [routerLink]="['/playerTotals']" routerLinkActive="active">{{ 'Player Totals' | translate:lang }}</a></li>
              <li><a [routerLink]="['/playerLiveWagerTransactions']" routerLinkActive="active">{{ 'Live Wager Transactions' | translate:lang }}(PHASE II )</a></li>
              <li *ngIf="!auth.siteName === Affiliates"><a [routerLink]="['/playerAccess']" routerLinkActive="active">{{ 'Player Access' | translate:lang }}</a></li>
              <li><a [routerLink]="['/playerCount']" routerLinkActive="active">{{ 'Player Count' | translate:lang }}(PHASE II )</a></li>
              <li><a [routerLink]="['/playerIP']" routerLinkActive="active">{{ 'Player IP' | translate:lang }}(PHASE II )</a></li>
              <li><a [routerLink]="['/crossIP']" routerLinkActive="active">{{ 'Cross IP' | translate:lang }}(PHASE II )</a></li>
              <li><a [routerLink]="['/topPlayers']" routerLinkActive="active">{{ 'top Players' | translate:lang }}(*In-progress* )</a></li>
              <li><a [routerLink]="['/agentBeatTheLine']" routerLinkActive="active">{{ 'Beat the line' | translate:lang }}(PHASE II )</a></li>
            </div>
          </div>
        </a>
      </li>

      <!--<li *ngIf="auth.isAuthenticated()">
        <a>
          <div dropdown class="dropdown">
            <div dropdownToggle class="dropdown-toggle">
              {{'Wagers' | translate:lang}}
              <span class="caret"></span>
            </div>
            <div dropdownMenu class="dropdown-menu">
              <li><a [routerLink]="['/playerOpenBets']" routerLinkActive="active">{{ 'Player Open Bets' | translate:lang }}</a></li>
              <li><a [routerLink]="['/changedWagers']" routerLinkActive="active">{{ 'Changed Wagers' | translate:lang }}</a></li>
              <li><a [routerLink]="['/RiskReport']" routerLinkActive="active">{{ 'Risk' | translate:lang }}</a></li>
              <li><a [routerLink]="['/wagerListing']" routerLinkActive="active">{{ 'Wager Listing' | translate:lang }}</a></li>
              <li><a [routerLink]="['/dailySummary']" routerLinkActive="active">{{ 'Daily Summary' | translate:lang }}</a></li>
            </div>
          </div>
        </a>
      </li>

      <li *ngIf="auth.isAuthenticated()">
        <a>
          <div dropdown class="dropdown">
            <div dropdownToggle class="dropdown-toggle">
              {{'Management' | translate:lang}}
              <span class="caret"></span>
            </div>
            <div dropdownMenu class="dropdown-menu">
              <li><a [routerLink]="['/playerManagement']" routerLinkActive="active">{{ 'Player Management' | translate:lang }}</a></li>
              <li><a [routerLink]="['/agentManagement']" routerLinkActive="active">{{ 'Agent Management' | translate:lang }}</a></li>
              <li><a [routerLink]="['/playerLimits']" routerLinkActive="active">{{ 'Player Limits' | translate:lang }}</a></li>
              <li><a [routerLink]="['/liveDealerPlayerTransactions']" routerLinkActive="active">{{ 'Live Dealer Player Transactions' | translate:lang }}</a></li>
              <li><a [routerLink]="['/playerProfiles']" routerLinkActive="active">{{ 'Player Profiles' | translate:lang }}</a></li>
              <li><a [routerLink]="['/profileLimits']" routerLinkActive="active">{{ 'Profile Limits' | translate:lang }}</a></li>
              <li><a [routerLink]="['/maxMoneyLine']" routerLinkActive="active">{{ 'Max Money Line' | translate:lang }}</a></li>
            </div>
          </div>
        </a>
      </li>

      <li *ngIf="auth.isAuthenticated() ">
        <a>
          <div dropdown class="dropdown">
            <div dropdownToggle class="dropdown-toggle">
              {{'Tools' | translate:lang}}
              <span class="caret"></span>
            </div>
            <div dropdownMenu class="dropdown-menu">
              <li><a [routerLink]="['/cashier']" routerLinkActive="active">{{ 'Cashier' | translate:lang }}</a></li>
              <li><a [routerLink]="['/agentPayments']" routerLinkActive="active">{{ 'Agent Payments' | translate:lang }}</a></li>
              <li><a [routerLink]="['/addAgent']" routerLinkActive="active">{{ 'Add Agent' | translate:lang }}</a></li>
              <li><a [routerLink]="['/addPlayer']" routerLinkActive="active">{{ 'Add Player' | translate:lang }}</a></li>
              <li><a [routerLink]="['/moveLines']" routerLinkActive="active">{{ 'Move Lines' | translate:lang }}</a></li>
              <li><a [routerLink]="['/BetTicker']" routerLinkActive="active">{{ 'Bet Ticker' | translate:lang }}</a></li>
              <li><a [routerLink]="['/BetAlerts']" routerLinkActive="active">{{ 'Bet Alerts' | translate:lang }}</a></li>
              <li><a [routerLink]="['/ScoresAndOdds']" routerLinkActive="active">{{ 'Scores and more' | translate:lang }}</a></li>
            </div>
          </div>
        </a>
      </li>-->

      <li *ngIf="auth.isAuthenticated() ">
        <a>
          <div dropdown class="dropdown">
            <div dropdownToggle class="dropdown-toggle">
              {{'Marketing' | translate:lang}}
              <span class="caret"></span>
            </div>
            <div dropdownMenu class="dropdown-menu">
              <li *ngIf="auth.isAuthenticated() && auth.isAffiliateSite()"> <a [routerLink]="['/marketing']" routerLinkActive="active">{{ 'Banner Farm' | translate:lang }}</a></li>
              <li *ngIf="auth.isAuthenticated() && auth.isAffiliateSite()"> <a [routerLink]="['/myBanners']" routerLinkActive="active">{{ 'My Banners' | translate:lang }}</a></li>
            </div>
          </div>
        </a>
      </li>

    </ul>
    <div class="navbar-header navbar-right" *ngIf="!auth.isAdminSite()">
      <ul class="nav navbar-nav">
        <li>
          <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']"><span class="glyphicon glyphicon-log-in"></span>{{ ' Login' | translate:lang}}</a>
          <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">{{ 'Welcome ' | translate:lang}}{{auth.currentUser.firstName}}</a>
        </li>
        <li>
          <a *ngIf="auth.isAuthenticated()" (click)="logout()" class="logout"><span class="glyphicon glyphicon-log-out"></span>{{ ' Log out'| translate:lang}} </a>
        </li>
      </ul>

    </div>
    <!--<form id="searchForm" class="navbar-form navbar-right" *ngIf="!auth.isAdminSite()">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button class="btn btn-default">
          {{ 'Search'| translate:lang}}
        </button>
    </form>-->
    <div class="navbar-header navbar-right" *ngIf="!auth.isAdminSite()">
      <ul class="nav navbar-nav">

        <li><a [routerLink]="['/contactus']" routerLinkActive="active"><span class="glyphicon glyphicon-envelope"></span> {{ ' Contact us' | translate:lang }}</a></li>
      </ul>
    </div>

    <div *ngIf="auth.viewingAs != ''" class="makeMeWhiteAndNice">
      {{'Viewing as' | translate:lang}}: {{auth.viewingAs}}
      <button class="btn btn-danger" (click)="stopViewingAs()"><span class="glyphicon glyphicon-remove-sign"></span> {{' Stop'| translate:lang}}</button>
    </div>
  </div>

</div>