<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >ng2Start</a>
    </div>

    <!--<div class="collapse navbar-collapse">-->
      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/home']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">{{ 'Home' | translate:lang }} </a>
        </li>

        <li><a [routerLink]="['/howitworks']" routerLinkActive="active">{{ 'How it works' | translate:lang }}</a></li>
        <li><a [routerLink]="['/FAQ']" routerLinkActive="active">{{ 'Faq' | translate:lang }}</a></li>
        <li><a [routerLink]="['/ToS']" routerLinkActive="active">{{ 'Tearms of Service' | translate:lang }}</a></li>

        <li><a [routerLink]="['/contactus']" routerLinkActive="active">{{ 'Contact us' | translate:lang }}</a></li>

        <li><a [routerLink]="['/marketing']" routerLinkActive="active">{{ 'Marketing' | translate:lang }}</a></li>

        <li><a [routerLink]="['/things']" routerLinkActive="active">{{ 'Things' | translate:lang }}</a></li>
        <li ><a [routerLink]="['/players']" routerLinkActive="active">{{ 'Players' | translate:lang }}</a></li>
        <li ><a [routerLink]="['/wagers']" routerLinkActive="active">{{ 'Wagers' | translate:lang }}</a></li>

        <li><a [routerLink]="['/main']" routerLinkActive="active">{{ 'Main' | translate:lang }}</a></li>




        <li *ngIf="auth.isAuthenticated()" ><a [routerLink]="['/genericReport2']" routerLinkActive="active">{{ 'Secure report' | translate:lang }}</a></li>
     
        <li>
          <a href="">
            <div dropdown class="dropdown">
              <div dropdownToggle class="dropdown-toggle">
              {{'Cash reports' | translate:lang}}
                <span class="caret"></span>
              </div>
              <div dropdownMenu class="dropdown-menu">             
              <li><a [routerLink]="['/weeklyTransactions']" routerLinkActive="active">{{ 'Weekly Transactions' | translate:lang }}</a></li>

              <li><a [routerLink]="['/weeklyBalances']" routerLinkActive="active">{{ 'Weekly Balances' | translate:lang }}</a></li>
              <li><a [routerLink]="['/cashFlow']" routerLinkActive="active">{{ 'Cash Flow Balances' | translate:lang }}</a></li>
              <li><a [routerLink]="['/weeklyPayments']" routerLinkActive="active">{{ 'Weekly Payments' | translate:lang }}</a></li>
              <li><a [routerLink]="['/agentCommission']" routerLinkActive="active">{{ 'Agent Commission' | translate:lang }}</a></li>
              </div>

            </div>
          </a>
        </li>
             
        <li>
          <a href="">
            <div dropdown class="dropdown">
              <div dropdownToggle class="dropdown-toggle">
              {{'wagers reports' | translate:lang}}
                <span class="caret"></span>
              </div>
              <div dropdownMenu class="dropdown-menu">             
              <li><a [routerLink]="['/agentExposure']" routerLinkActive="active">{{ 'Agent Exposure' | translate:lang }}</a></li>
              <li><a [routerLink]="['/agentPosition']" routerLinkActive="active">{{ 'Agent Position' | translate:lang }}</a></li>      
              </div>

            </div>
          </a>
        </li>
             
        <li>
          <a href="">
            <div dropdown class="dropdown">
              <div dropdownToggle class="dropdown-toggle">
              {{'Player reports' | translate:lang}}
                <span class="caret"></span>
              </div>
              <div dropdownMenu class="dropdown-menu">             
                        <li><a [routerLink]="['/playerStandings']" routerLinkActive="active">{{ 'Player Standings' | translate:lang }}</a></li>
                        <li><a [routerLink]="['/actionByPlayer']" routerLinkActive="active">{{ 'Action By Player' | translate:lang }}</a></li>
                        <li><a [routerLink]="['/playerTotals']" routerLinkActive="active">{{ 'Player Totals' | translate:lang }}</a></li>
                        <li><a [routerLink]="['/playerOpenBets']" routerLinkActive="active">{{ 'Player Open Bets' | translate:lang }}</a></li>
                        <li><a [routerLink]="['/playerHistory']" routerLinkActive="active">{{ 'Player History' | translate:lang }}</a></li>      
              </div>

            </div>
          </a>
        </li>

      </ul>
   
      <!--<div class="navbar-header navbar-right">
   <select class="selectpicker" data-width="fit">
    <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
  <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>Español</option>
</select>
      </div>-->

      <div class="navbar-header navbar-right">
        <ul class="nav navbar-nav">
          <li>
            <a *ngIf="!auth.isAuthenticated()" [routerLink]="['user/login']">Login</a>
            <a *ngIf="auth.isAuthenticated()" [routerLink]="['user/profile']">Welcome {{auth.currentUser.firstName}}</a>
          </li>
          <li>
              <a *ngIf="auth.isAuthenticated()" (click)="logout()" class="logout">Log out </a>
          </li>
        </ul>
      </div>
      <form id="searchForm"  class="navbar-form navbar-right"  >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" >
        </div>
        <button class="btn btn-default" >
          Search
        </button>
      </form>
    <!--</div>-->
  </div>
</div>