<div class="container" id="reportContent">
  <h1>{{'Hold Percent' | translate:lang }}</h1>
  <form #myForm="ngForm" novalidate>
    <div class="row well">

      <div class="col-md-3">
        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>
      <div class="col-md-2">
        <label>{{'View detail:'| translate:lang  }}</label>
        <input type="checkbox" name="viewDetail" [(ngModel)]="viewDetail" class="form-control">
      </div>
      <div class="col-md-3">
        <label>{{'Agent:'| translate:lang  }}</label>
        <select name="ddlAgent" class="form-control" style="height: 40px;" [(ngModel)]="ddlAgent" (change)="onChangeagentDdl()">
        <option value="-1" selected>All</option>

            <option *ngFor="let agent of response2" [value]="agent.IdAgent">{{agent.Agent}}</option>
            </select>
      </div>
      <div class="col-md-3">
        <label>{{'Player:'| translate:lang  }}</label>
        <select name="ddlPlayer" class="form-control" style="height: 40px;" [(ngModel)]="ddlPlayer">
          <option value="-1" selected> All</option>
                <option *ngFor="let playo of players" [value]="playo.IdPlayer">{{playo.Player}}</option>
            </select>
      </div>
      <div class="col-md-1 ja-text-right padding-top-small">
        <button class="btn btn-success" (click)="go()">GO!</button>
      </div>
    </div>

  </form>

  <div *ngIf="response?.length > 0">
    <div class="row">
      <div class="col-md-10">
        
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-block" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
      </div>
    </div>
    <div *ngFor="let Item of response">

      <div class="table-responsive">
      <table class="table table-striped">
        <caption><i class="fa fa-chevron-down" aria-hidden="true"></i> {{Item.Agent}}</caption>
        <thead>
          <tr>
            <th>Sport</th>
            <th>Wager Type</th>
            <th>Amount</th>
            <th>Win / Lost</th>
            <th>Hold %</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ItemDetailPlayer of Item.DetailList">
            <td>{{ItemDetailPlayer.IdSport}}</td>
            <td>{{ItemDetailPlayer.StrWagerType }}</td>
            <td [ngClass]="(ItemDetailPlayer.Amount < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer.Amount | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer.WinLoss < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer.WinLoss | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer.Hold < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer.Hold | number }}%</td>
          </tr>
          <tr>
            <td>{{Item.DetailList.length}} {{'Players' | translate:lang }}</td>
            <td> </td>
            <td [ngClass]="getTotal(Item, 'Amount')  < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, 'Amount') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, 'WinLoss') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, 'WinLoss') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, 'Hold') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, 'Hold') | number}}%</td>
          </tr>

        </tbody>
      </table>
      </div>



    </div>
  </div>

  <!--<pre>
  {{response | json}}
</pre>

  <pre>
  {{response2 | json}}
</pre>-->

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>