<div class="container">
  <h2>{{'Hold Percent' | translate:lang }}</h2>
  <form #myForm="ngForm" novalidate>
    <div class="row">

      <div class="col-xs-3 form-group">

        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>
      <div class="col-xs-3 form-group">


        <label>{{'View detail:'| translate:lang  }}</label>
        <input type="checkbox" name="viewDetail" [(ngModel)]="viewDetail" class="form-control">



      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Agent:'| translate:lang  }}</label>
        <select name="ddlTransType" class="form-control" style="height: 40px;" [(ngModel)]="ddlTransType">
            <option *ngFor="let tt of transactionTypes" [value]="tt.value">{{tt.display}}</option>
            </select>
      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Player:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-4 form-group">
        <button class="btn btn-default" (click)="go()">{{'GO!' | translate:lang}}</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.length > 0">
    <button class="btn btn-success" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
    <br> <br>
    <div *ngFor="let Item of response">

      <div class="row" style="text-align: center; color: white; background-color: black;">
        {{Item.Agent}}
      </div>
      <table class="table">
        <thead>
          <tr>
            <td>Sport</td>
            <td>Wager Type</td>
            <td>Amount</td>
            <td>Win / Lost</td>
            <td>Hold %</td>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ItemDetailPlayer of Item.DetailList">
            <td>{{ItemDetailPlayer.IdSport}}</td>
            <td>{{ItemDetailPlayer.StrWagerType }}</td>
            <td [ngClass]="(ItemDetailPlayer.Amount < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer.Amount | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer.WinLoss < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer.WinLoss | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer.Hold < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer.Hold | number }}%</td>


          </tr>
          <tr>
            <td>{{Item.DetailList.length}} {{'Players' | translate:lang }}</td>
            <td> </td>
            <td [ngClass]="getTotal(Item, 'Amount')  < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, 'Amount') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, 'WinLoss') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, 'WinLoss') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, 'Hold') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, 'Hold') | number}}%</td>

          </tr>

        </tbody>
      </table>
      <br>



    </div>
  </div>

  <pre>
  {{response | json}}
</pre>

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>