<div class="container" *ngIf="response">
    <h2>{{'Statistics' | translate:lang }}</h2>
    <table class="table table-hover" *ngIf="response">
        <tbody>
            <tr>
                <td>{{'Current Balance'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.CurrentBalance | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
                <td>{{'Estimated Player s Wins/Losses'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.PlayerWinLoss | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
                <td>{{'Estimated Player s Wins/Losses'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.EarningLoses | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
                <td>{{'Last Weeks Player s Wins/Losses'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.LastWeekPlayerWinLoss | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
                <td>{{'Last 2 Weeks Player s Wins/Losses'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.Last2WeekPlayerWinLoss | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
                <td>{{'Number of Players'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.NumPlayers}}</td>
            </tr>
            <tr>
                <td>{{'Number of Players that have Wagered This Week'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.NumPlayerWageredThisWeek}}</td>
            </tr>
            <tr>
                <td>{{'Commission Percentage' | translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.CommissionPercentaje}}</td>
            </tr>
        </tbody>
    </table>

        <h2>{{'Marketing Stats' | translate:lang }}</h2>
    <table class="table table-hover" *ngIf="response">
        <tbody>
            <tr>
                <td>{{'Total clicks'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.NumPlayers | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
                <td>{{'Total signups'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.NumPlayers | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <!--<tr>
                <td>{{'Estimated Player s Wins/Losses'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.EarningLoses | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
                <td>{{'Last Weeks Player s Wins/Losses'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.LastWeekPlayerWinLoss | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
                <td>{{'Last 2 Weeks Player s Wins/Losses'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.Last2WeekPlayerWinLoss | currency:'USD':true:'1.2-2'}}</td>
            </tr>
            <tr>
                <td>{{'Number of Players'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.NumPlayers}}</td>
            </tr>
            <tr>
                <td>{{'Number of Players that have Wagered This Week'| translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.NumPlayerWageredThisWeek}}</td>
            </tr>
            <tr>
                <td>{{'Commission Percentage' | translate:lang}}</td>
                <td>{{response.AffiliateStatisticsInfo.CommissionPercentaje}}</td>
            </tr>-->
        </tbody>
    </table>

    <!--<pre>
  {{response | json}}
</pre>-->


</div>

<div *ngIf="!response">
    <app-loading> </app-loading>
</div>