<p>
  gallery works!
</p>



<div class="pi-section-w pi-shadow-inside-top">
    <div class="pi-texture" style="background: url(/img/hexagon.png) repeat;"></div>

    <div class="pi-section pi-padding-top-60 pi-padding-bottom-20">

        <div class="pi-text-center" id="features">
            <h3 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-border pi-has-tall-border pi-has-short-border">
                Player Features
            </h3>
        </div>

        <p class="lead-16 pi-margin-bottom-40 pi-text-center pi-text-grey">
            From our world class live in-game platform to our interactive sports betting offerings, your players will love spending time with either of our respected brands.
        </p>

    	<!-- Portfolio gallery -->
        <div class="pi-row pi-liquid-col-xs-2 pi-liquid-col-sm-4 pi-gallery pi-gallery-small-margins pi-padding-bottom-20">

            <!-- Portfolio item -->
            <div class="pi-gallery-item pi-padding-bottom-30">
                <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                    <a href="http://www.jazzaffiliates.com/img/products/sportsbook.jpg" class="pi-colorbox">
                        <img src="http://www.jazzaffiliates.com/img/products/sportsbookthumb.jpg" alt="">
                        <div class="pi-img-overlay pi-img-overlay-darker">
                            <div class="pi-caption-centered">
                                <div>
                                        <span class="pi-caption-icon pi-caption-scale icon-search"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h3 class="h6 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-5"><a class="pi-link-dark">Sportsbook</a></h3>

            </div>
            <!-- End portfolio item -->

            <!-- Portfolio item -->
            <div class="pi-gallery-item pi-padding-bottom-30">
                <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                    <a href="http://www.jazzaffiliates.com/img/products/casino.jpg" class="pi-colorbox">
                        <img src="http://www.jazzaffiliates.com/img/products/casinothumb.jpg" alt="">
                        <div class="pi-img-overlay pi-img-overlay-darker">
                            <div class="pi-caption-centered">
                                <div>
                                    <span class="pi-caption-icon pi-caption-scale icon-plus"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h3 class="h6 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-5"><a class="pi-link-dark">Casino</a></h3>
            </div>
            <!-- End portfolio item -->

            <!-- Portfolio item -->
            <div class="pi-gallery-item pi-padding-bottom-30">
                <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                    <a href="http://www.jazzaffiliates.com/img/products/livedealer.jpg" class="pi-colorbox">
                        <img src="http://www.jazzaffiliates.com/img/products/livedealerthumb.jpg" alt="">
                        <div class="pi-img-overlay pi-img-overlay-darker">
                            <div class="pi-caption-centered">
                                <div>
                                    <span class="pi-caption-icon pi-caption-scale icon-search"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h3 class="h6 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-5"><a class="pi-link-dark">Live Casino</a></h3>
            </div>
            <!-- End portfolio item -->

             <!-- Portfolio item -->
            <div class="pi-gallery-item pi-padding-bottom-30">
                <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                    <a href="http://www.jazzaffiliates.com/img/products/racebook.jpg" class="pi-colorbox">
                        <img src="http://www.jazzaffiliates.com/img/products/racebookthumb.jpg" alt="">
                        <div class="pi-img-overlay pi-img-overlay-darker">
                            <div class="pi-caption-centered">
                                <div>
                                    <span class="pi-caption-icon pi-caption-scale icon-search"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h3 class="h6 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-5"><a class="pi-link-dark">Racebook</a></h3>
            </div>
            <!-- End portfolio item -->

            <!-- Portfolio gallery -->
        <div class="pi-row pi-liquid-col-xs-2 pi-liquid-col-sm-4 pi-gallery pi-gallery-small-margins pi-padding-bottom-20">

            <!-- Portfolio item -->
            <div class="pi-gallery-item pi-padding-bottom-30">
                <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                    <a href="http://www.jazzaffiliates.com/img/products/squaresparlay.jpg" class="pi-colorbox">
                        <img src="http://www.jazzaffiliates.com/img/products/squaresparlaythumb.jpg" alt="">
                        <div class="pi-img-overlay pi-img-overlay-darker">
                            <div class="pi-caption-centered">
                                <div>
                                        <span class="pi-caption-icon pi-caption-scale icon-search"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h3 class="h6 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-5"><a class="pi-link-dark">Betting Options</a></h3>

            </div>
            <!-- End portfolio item -->

            <!-- Portfolio item -->
            <div class="pi-gallery-item pi-padding-bottom-30">
                <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                    <a href="http://www.jazzaffiliates.com/img/products/livewager.jpg" class="pi-colorbox">
                        <img src="http://www.jazzaffiliates.com/img/products/livewagerthumb.jpg" alt="">
                        <div class="pi-img-overlay pi-img-overlay-darker">
                            <div class="pi-caption-centered">
                                <div>
                                    <span class="pi-caption-icon pi-caption-scale icon-plus"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h3 class="h6 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-5"><a class="pi-link-dark">Live Wagering</a></h3>
            </div>
            <!-- End portfolio item -->

            <!-- Portfolio item -->
            <div class="pi-gallery-item pi-padding-bottom-30">
                <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                    <a href="http://www.jazzaffiliates.com/img/products/agents.jpg" class="pi-colorbox">
                        <img src="http://www.jazzaffiliates.com/img/products/agentsthumb.jpg" alt="">
                        <div class="pi-img-overlay pi-img-overlay-darker">
                            <div class="pi-caption-centered">
                                <div>
                                    <span class="pi-caption-icon pi-caption-scale icon-search"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h3 class="h6 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-5"><a class="pi-link-dark">Mobile Wagering</a></h3>
            </div>
            <!-- End portfolio item -->

             <!-- Portfolio item -->
            <div class="pi-gallery-item pi-padding-bottom-30">
                <div class="pi-img-w pi-img-round-corners pi-img-shadow">
                    <a href="http://www.jazzaffiliates.com/img/products/bracket.jpg" class="pi-colorbox">
                        <img src="http://www.jazzaffiliates.com/img/products/bracketthumb.jpg" alt="">
                        <div class="pi-img-overlay pi-img-overlay-darker">
                            <div class="pi-caption-centered">
                                <div>
                                    <span class="pi-caption-icon pi-caption-scale icon-search"></span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <h3 class="h6 pi-weight-700 pi-uppercase pi-letter-spacing pi-margin-bottom-5"><a class="pi-link-dark">Contest</a></h3>
            </div>
            <!-- End portfolio item -->

            </div>

        </div>

    </div>

</div>

