<div class="container">
  <h2>{{'Online Messages' | translate:lang }}</h2>
  <form #myForm="ngForm" novalidate>
    <div class="row">

      <div class="col-xs-3 form-group">
        <label>{{'Select Date:' | translate:lang  }}</label>
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-picker>

      </div>
      <div class="col-xs-3 form-group">
 

      </div>
      <div class="col-xs-3 form-group">
       
      </div>
      <div class="col-xs-3 form-group">
     
      </div>
    </div>

    <div class="row">

      <div class="col-xs-4 form-group">
        <button class="btn btn-default" (click)="go()">{{'GO!' | translate:lang}}</button>
      </div>
    </div>
  </form>
    <button class="btn btn-success" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>

  <div *ngIf="response?.CashFlowList?.length > 0">
    <h2>{{'Period' | translate:lang}} {{response.StartDate | date: 'MM/dd/yyyy'}} To {{response.EndDate | date: 'MM/dd/yyyy'}}</h2>

    <table class="table table-hover">
      <thead>
        <tr>

          <th>{{'Transaction' | translate:lang}}</th>
          <th>{{'Description' | translate:lang}}</th>
          <th>{{'Amount' | translate:lang}}</th>
          <th>{{'Balance' | translate:lang}}</th>
          <th>{{'Date' | translate:lang}}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let PreAff of response.CashFlowList">
          <td>
            {{PreAff.Transaction}}
          </td>
          <td>
            {{PreAff.Description}}
          </td>
          <td>
            {{PreAff.Amount}}
          </td>
          <td>
            {{PreAff.Balance}}
          </td>
          <td>
            {{PreAff.Date | date}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
<!--
  <pre>
  {{response | json}}
</pre>-->

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>