<div class="container">
  <h2>{{'Cash Flow' | translate:lang }}</h2>
  <form #myForm="ngForm" novalidate>
    <div class="row">

      <div class="col-xs-3 form-group">
        <!--<label>{{'Select Date:' | translate:lang  }}</label>-->
        <!--<my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-picker>-->
        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>

      <div class="col-xs-3 form-group">
        <label>{{'Transaction Type:'| translate:lang  }}</label>
        <select name="ddlTransType" class="form-control" style="height: 40px;" [(ngModel)]="ddlTransType">
            <option *ngFor="let tt of transactionTypes" [value]="tt.value" >{{tt.display}}</option>
            </select>
      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value" >{{cur.display}}</option>
            </select>
      </div>
      <div class="col-xs-3 form-group">

      </div>
    </div>

    <div class="row">

      <div class="col-xs-4 form-group">
        <button class="btn btn-default" (click)="go()">GO!</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.ListAgent?.length > 0">
    <h2>{{'Period' | translate:lang}} {{response.StartDate | date: 'MM/dd/yyyy'}} To {{response.EndDate | date: 'MM/dd/yyyy'}}</h2>
    <button class="btn btn-success" (click)="ExportToExcel()">Export to Excel</button>
    <br><br>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]='descFilter' />
      </div>
    </div>
    <br>
    <div *ngFor=" let Item of response.ListAgent;">
      <div class="row" style="text-align: center; color: white; background-color: black;">
        {{Item._agent}}
      </div>


      <table class="table">
        <thead>
          <tr style="background-color: lightgray">
            <td>Player</td>
            <td>Placed</td>
            <td>Payment Method</td>
            <td>Reference</td>
            <td>Description</td>
            <td>Amount</td>
            <td>Fee</td>
            <td>Bonus</td>
          </tr>
        </thead>
        <tr *ngFor="let ItemDetailPlayer of Item.ListDetail | cashFlowFilter:descFilter">
          <td>{{ItemDetailPlayer._player}}</td>
          <td>{{ItemDetailPlayer._placed}}</td>
          <td>{{ItemDetailPlayer._paymentmethod}}</td>
          <td>{{ItemDetailPlayer._reference}}</td>
          <td>{{ItemDetailPlayer._description}}</td>
          <td [ngClass]="(ItemDetailPlayer._amount < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._amount | currency:'USD':true:'1.2-2'}}</td>
          <td>{{ItemDetailPlayer._fee | currency:'USD':true:'1.2-2'}}</td>
          <td>{{ItemDetailPlayer._bonus | currency:'USD':true:'1.2-2'}}</td>
        </tr>

      </table>


    </div>
  </div>

  <!--<pre>
  {{response | json}}
</pre>-->

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>