.exposure-header {
  font-weight: bold;
  padding: 8px 0;
  margin-bottom: 20px;
  border-bottom: 3px solid #CCC;
}
.exposure-header div {
  padding: 0;
}
.exposure-line {
  font-size: 13px;
  line-height: 32px;
}
.exposure-line div {
  padding: 0 !important;
}
.exposure-line div.col-md-2 div:hover {
  color: #288195;
  font-weight: bold;
}

.app-modal-body {
  font-size: 13px !important;
}