#signup-form {
	border:1px solid #CCC;
	border-radius: 5px;
	padding: 20px;
	background: #EEE;
	margin: 25px 0;
}
.form-group em {
	color: #900;
	font-weight: bold;
	font-size: 13px;
}
.form-group button {
	margin-top: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.imagePreview {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}