<div class="container">
  <h2>{{'Agent Distribution' | translate:lang }}</h2>

  <div>
    <button class="btn btn-success" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
    <br>
    <div>

      <!--<div class="row" style="text-align: center; color: white; background-color: black;">
        {{Item.agent}}
      </div>-->

      <table class="table">
        <thead>
          <tr style="background-color: lightgray">
            <td>Agent</td>
            <td>Week ending</td>
            <td>Old make up</td>
            <td>Gross</td>
            <td>Net</td>
            <td>Type</td>

            <td>%</td>
            <td>Comm Split</td>
            <td>turn in</td>
            <td>New make up</td>

          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let Item of response">
            <td>{{Item.agent }}</td>

            <td>{{Item.WeekEnding | date}}</td>
            <td>{{Item.OldMakeUp | currency:'USD':true:'1.2-2'}}</td>
            <td>{{Item.Gross | currency:'USD':true:'1.2-2'}}</td>
            <td>{{Item.NET }}</td>
            <td>{{Item.Type }}</td>
            <td>{{Item.Percentage }}</td>
            <td>{{Item.CommSplit | currency:'USD':true:'1.2-2'}}</td>
            <td>{{Item.TurnIn | currency:'USD':true:'1.2-2'}}</td>
            <td>{{Item.New | currency:'USD':true:'1.2-2'}}</td>

          </tr>
          <!--<tr>
            <td>{{Item.DetailList.length}} {{'Players' | translate:lang }}</td>
            <td>{{getTotalSettledFigure(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
            <td>{{getTotalTotalWeek(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
            <td>{{getTotalPmts(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
            <td>{{getTotalCurrentBalance(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
          </tr>-->

        </tbody>
      </table>


    </div>
  </div>

  <pre>
  {{response | json}}
</pre>

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>