<div class="container" id="reportContent">
  <h1>{{'Agent Distribution' | translate:lang }}</h1>

  <div class="row">
      <div class="col-md-10">
        
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-block" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
      </div>
    </div>

    <div class="table-responsive">

      <!--<div class="row" style="text-align: center; color: white; background-color: black;">
        {{Item.agent}}
      </div>-->

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Agent</th>
            <th>Week ending</th>
            <th>Old make up</th>
            <th>Gross</th>
            <th>Net</th>
            <th>Type</th>
            <th>%</th>
            <th>Comm Split</th>
            <th>turn in</th>
            <th>New make up</th>

          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let Item of response">
            <td>{{Item.agent }}</td>

            <td>{{Item.WeekEnding | date}}</td>
            <td>{{Item.OldMakeUp | currency:'USD':true:'1.2-2'}}</td>
            <td>{{Item.Gross | currency:'USD':true:'1.2-2'}}</td>
            <td>{{Item.NET }}</td>
            <td>{{Item.Type }}</td>
            <td>{{Item.Percentage }}</td>
            <td>{{Item.CommSplit | currency:'USD':true:'1.2-2'}}</td>
            <td>{{Item.TurnIn | currency:'USD':true:'1.2-2'}}</td>
            <td>{{Item.New | currency:'USD':true:'1.2-2'}}</td>

          </tr>
          <!--<tr>
            <td>{{Item.DetailList.length}} {{'Players' | translate:lang }}</td>
            <td>{{getTotalSettledFigure(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
            <td>{{getTotalTotalWeek(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
            <td>{{getTotalPmts(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
            <td>{{getTotalCurrentBalance(Item.Agent) | currency:'USD':true:'1.2-2'}}</td>
          </tr>-->

        </tbody>
      </table>


    </div>

  <pre>
  {{response | json}}
</pre>

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>