<div class="container" id="reportContent">
  <h1>{{'Web vs Phone' | translate:lang }}</h1>
  <form #myForm="ngForm" novalidate>
    <div class="row well">

      <div class="col-md-4">
        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>
      <div class="col-md-4">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>

      </div>
      <div class="col-md-4 ja-text-right padding-top-small">
        <button class="btn btn-success" (click)="go()">GO!</button>
      </div>
    </div>

  </form>

  <div *ngIf="response?.length > 0">

    <div class="row">
      <div class="col-md-10">
        
      </div>
      <div class="col-md-2">
        <button class="btn btn-primary btn-block" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
      </div>
    </div>

    <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{{'Agent' | translate:lang}}</th>
          <th>{{'Phone Volume' | translate:lang}}</th>
          <th>{{'Phone Bets ' | translate:lang}}</th>
          <th>{{'Phone Players' | translate:lang}}</th>
          <th>{{'On Line Volume' | translate:lang}}</th>
          <th>{{'On Line Bets' | translate:lang}}</th>
          <th>{{'On Line Players' | translate:lang}}</th>
          <th>{{'Casino Volume ' | translate:lang}}</th>
          <th>{{'Casino Bets ' | translate:lang}}</th>
          <th>{{'Casino Players' | translate:lang}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let PreAff of response">
          <td>
            {{PreAff.Agent}}
          </td>
          <td>
            {{PreAff.PhoneVol}}
          </td>
          <td>
            {{PreAff.PhoneBets}}
          </td>
          <td>
            {{PreAff.PhonePlayers}}
          </td>
          <td>
            {{PreAff.OnLineVolume}}
          </td>
          <td>
            {{PreAff.OnLineBets}}
          </td>
          <td>
            {{PreAff.OnLinePlayers}}
          </td>
          <td>
            {{PreAff.CasinoVolume}}
          </td>
          <td>
            {{PreAff.CasinoBets}}
          </td>
          <td>
            {{PreAff.CasinoPlayers}}
          </td>
        </tr>

        <tr>
          
          <td>
            totals: </td>
          <td>
            {{totals.PhoneVol}}
          </td>
          <td>
            {{totals.PhoneBets}}
          </td>
          <td>
            {{totals.PhonePlayers}}
          </td>
          <td>
            {{totals.OnLineVolume}}
          </td>
          <td>
            {{totals.OnLineBets}}
          </td>
          <td>
            {{totals.OnLinePlayers}}
          </td>
          <td>
            {{totals.CasinoVolume}}
          </td>
          <td>
            {{totals.CasinoBets}}
          </td>
          <td>
            {{totals.CasinoPlayers}}
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    
  </div>

  <!--<pre>
  {{response | json}}
</pre>-->

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>