<div class="container" id="reportContent">
  <h1>{{'Player History' | translate:lang }}</h1>
  <form #myForm="ngForm" novalidate>
    <div class="row well">

      <div class="col-md-4">

        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>
      <div class="col-md-4">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>

      </div>
      <div class="col-md-4 ja-text-right padding-top-small">
        <button class="btn btn-success" (click)="go()">{{'GO!' | translate:lang}}</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.length > 0">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Player</th>
            <th>User/Phone</th>
            <th>Date</th>
            <th>Sport</th>
            <th>Description</th>
            <th>Risk/Win</th>
            <th>Amount</th>
            <th>Result</th>
            <th>ResultScore</th>
            <th>Placed</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Item of response;">
            <td>{{Item.Player}}</td>
            <td>{{Item.User}}</td>
            <td>{{Item.Date}}</td>
            <td>{{Item.Sport }}</td>
            <td>{{Item.Description }}</td>
            <td [ngClass]="(Item.RiskWin < 0 )?'redNumber':'greenNumber'">{{Item.RiskWin }}</td>
            <td [ngClass]="(Item.Amount < 0 )?'redNumber':'greenNumber'">{{Item.Amount  }}</td>
            <td>{{Item.Result }}</td>
            <td>{{Item.ResultScore}}</td>
            <td>{{Item.Placed }}</td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

  <!--<pre>
  {{response | json}}
</pre>-->

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>