<p>
    Jazz Affiliates program is a professional marketing system used by individuals and companies (who own and operate their own
    websites) for the purposes of promoting a leading and reputable gambling company to their customer base.
</p>
<p>
    Once you sign up with us, you'll have access to links and banners which can be posted on your site and used in subscriber-based
    emails. These include banners and promotional text which refresh automatically to advertise the latest event or promotion.
</p>
<p>
    When a visitor to your site (or subscriber of your newsletter) becomes a customer of our any of our brands (by clicking on
    your affiliate click-thru referral link to the corresponding Jazz Affiliate brand, fully registers and makes an initial
    deposit), you will earn a commission based on any net loss for the life of the player. Any webmaster can become a Jazz
    Affiliate and earn money from promoting our products. Affiliates will earn a percentage deal on each player losses, which
    come through a link on their website. Tracking codes are built into the URLs of these banners so that we can track when
    you have made a sign up through one of your links. When a sign up has been created it will automatically be updated in
    your account and you will be paid the agreed percentage deal on your new player. Jazz Affiliates has developed its own
    in-house banner tracking system. Instead of giving a partner a typical .jpg or .gif image, we supply the partner with
    a “banner code” that is inserted into the code of the partners' Web pages. These codes serve the purpose to allow us
    to track every visitor that comes from our partners' sites. Our affiliate program agreement is based on two basic principles.
</p>
<p>
    1) We are interested in building mutually beneficial relationships that create long-lasting bonds and partnerships between
    our company and other Internet businesses.
</p>
<p>
    2) Sports fans are increasingly searching for easy access to place a wager on a sporting event in a trusted online casino
    & sportsbook. Only by offering our partners added-value for our business agreement will we see these relationships replicated
    in the future Join our affiliate program today and see why we have hundreds of partners! Our software is very reliable,
    accurate and we have a professional support team to assist you with any question or request you may have.
</p>
<p>
    Become an affiliate partner with Jazz Affiliates today and take advantage of our excellent commissions. Register NOW and
    start earning TODAY!
</p>