<p>
  terms-of-service works!
</p>


Our Revenue share works on 3 tiered system which rewards affiliates as their business grows. Net Revenue is calculated on
monies from wagers in Sportsbook, Casino, and Racebook minus all processing fees. Commissions are calculated on a weekly
basis and credited to Affiliates account every Monday. Payouts can be requested on the 1st Monday of every month. Jazz utilizes
a Sales and Retention team that will keep your players active and guarantee you continuous earnings.