<section class="page-content">

  <div class="container">
    <h3 class="padding-top">Affiliate Terms of Service</h3>
     <accordion>
      <accordion-group [isOpen]="status.isFirstOpen" #group2 [isOpen]="status.isOpen">
        <div accordion-heading>
          <h4><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': group2?.isOpen, 'glyphicon-chevron-right': !group2?.isOpen}"></i> 
          Enrollment to the Affiliate Program</h4>
        </div>
        <ul>
          <li>You must submit a completed application through our Affiliate website affiliates.Jazz Affiliates.com in order to enroll in our affiliate program. An Affiliate Manager will review it and either approve or reject your application at our sole discretion.</li>
          <li>By applying you are stating that you are over the legal age of your jurisdiction and that your domain is not designed to appeal to minors.</li>
          <li>The personal information you provide must be accurate, complete and authentic.</li>
          <li>You must provide a list of domain names or proposed domains where you intend to promote Jazz Affiliates.</li>
          <li>One Jazz Affiliates account, per player or affiliate.</li>
          <li>Affiliates cannot have a separate wagering account. If an affiliate wants to use the Sportsbook services, they may do so through their affiliate account.</li>
          <li>One account per household.</li>
          <li>One account per IP Address.</li>
          <li>One user per account (The registered name on the account only).</li>
          <li>As an Affiliate, you are entitled to register Second-Tier Affiliates. You are not allowed to register any entity in which you have any shareholding whatsoever.</li>
          <li>In case of CC; it must belong to the account holder.</li>
          <li>To become a 2nd Tier Affiliate and collect commission on referred Affiliates please contact the Jazz Affiliates Affiliate department. We will set up a separate account for you to promote and sign up Affiliates.</li>
          <li>Each application is reviewed individually within 3 working days. Jazz Affiliates affiliates department will notify you by email as to whether or not your application has been successful.</li>
          <li>Each affiliate will receive a welcoming letter with the new affiliate username and password. We do not accept customers from France or Singapore.</li>
          <li>We may terminate this Agreement if we determine (at our sole discretion) that your site is unsuitable or inappropriate. Unsuitable sites include, but are not limited to, those that: are aimed at children, display pornography or other illegal sexual acts, promote violence, promote discrimination based on race, sex, religion, nationality, disability, sexual orientation, or age, promote illegal activities or violate intellectual property rights or breach any relevant advertising regulations or codes of practice.</li>
        </ul>
      </accordion-group>
      <accordion-group #group1 [isOpen]="status.isOpen">
        <div accordion-heading>
          <h4><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': group1?.isOpen, 'glyphicon-chevron-right': !group1?.isOpen}"></i> 
          Advertising of your Affiliation with Jazz Affiliates</h4>
        </div>
        <ul>
          <li>We will provide the affiliate with access to a link generator, Co-branded banners,XML odds feeds, tracking tools and all needed material in order to accomplish the promotion. The affiliate may not modify links obtained from Jazz Affiliates without prior written authorization.</li>
          <li>Jazz Affiliates will grant the affiliate a non-exclusive, non-transferable, non-sub-licensable, revocable right to use Jazz Affiliates logos and text solely for the purpose of the affiliate program.</li>
          <li>The affiliate will be responsible only for the development, operation, and maintenance of his/her site.</li>
          <li>The banners provided by Jazz Affiliates are hosted on our servers and we reserve the right to update these banners at any time and without previous notice.</li>
          <li>We reserve the right to monitor all websites promoting Jazz Affiliates in order to determine if you are in compliance with our terms and conditions and consequently, take the proper actions at our discretion.</li>
          <li>Affiliates should use best marketing reasonable efforts to actively and effectively advertise, market and promote Jazz Affiliates as widely and aggressively as possible in order to maximize the financial benefit for both, affiliate and Jazz Affiliates.</li>
          <li>Jazz Affiliates boasts a Sales and Retention Team that will guarantee you see action from your players on a daily basis in order for you to get the utmost out of your traffic.</li>
          <li>Players must be properly tagged to an Affiliate. Should this tag be improperly inserted or the steps not followed correctly, the player registration and purchases will not be assigned to you.</li>
          <li>Jazz Affiliates reserves the right to refuse players or end the contract with them if necessary to comply with the website’s terms and conditions.</li>
          <li>We will not be liable for any indirect, special, or consequential damages or losses incurred by the affiliate or a customer referred by the affiliate, arising in connection with this agreement or the affiliate program.</li>
          <li>Jazz Affiliates will not be responsible for any contest or promotion not authorized by our affiliate Department.</li>
        </ul>
      </accordion-group>
      <accordion-group #group [isOpen]="status.isOpen">
        <div accordion-heading>
          <h4><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': group?.isOpen, 'glyphicon-chevron-right': !group?.isOpen}"></i> 
          Relationship of Parties</h4>
        </div>
        <ul>
          <li>
						The affiliate and Jazz Affiliates are independent contractors, and nothing in this agreement will create any partnership, joint venture, agency, franchise, sales representative, or employment relationship between the parties.
					</li>
        </ul>
      </accordion-group>
      <accordion-group #group3 [isOpen]="status.isOpen">
        <div accordion-heading>
          <h4><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': group3?.isOpen, 'glyphicon-chevron-right': !group3?.isOpen}"></i> 
          Spam Policy</h4>
        </div>
        <ul>
          <li>
						Under no circumstances shall the affiliate send commercial electronic mail messages as defined in the new Federal spam law, the CAN-SPAM Act of 2003 [the “Act”], with respect to the Jazz Affiliates Affiliate Program. To clarify, this does not prohibit the affiliate from sending transactional or relationship messages as defined in the Act.
					</li>
          <li>
						Any unacceptable behavior (including the use of spam) will be cause for immediate termination of this agreement.
					</li>
        </ul>
      </accordion-group>
      <accordion-group #group4 [isOpen]="status.isOpen">
        <div accordion-heading>
          <h4><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': group4?.isOpen, 'glyphicon-chevron-right': !group4?.isOpen}"></i> 
          Referred players</h4>
        </div>
        <ul>
          <li>It is prohibited for you and your relatives such as spouse, partner, parent, child or sibling, to be referred to Jazz Affiliates by you, making you ineligible to receive commissions for their or your net losses.</li>
          <li>The number of referred players per individual household computer is strictly limited to one (1) , per IP</li>
          <li>You will be able to keep track of your referred players, activity generated, commissions and the payments you are entitled to receive through our Affiliate website. You will be able to review these statistics to in order improve your promoting campaigns or keep track of them.</li>
          <li>All Jazz Affiliates affiliates are required to refer a minimum of 5 active Customers within a month period of joining the program with a 25% starting commission. Should an affiliate not reach this requirement the affiliate account may be closed with prior notice. If the Affiliate chooses to close the affiliate account before reaching the required 5 active players, any/all commissions will be removed.</li>
          <li>After the one month trial, affiliate commissions will be paid using the following chart:</li>
          <table class="table table-striped" style="width: 50%;" align="center">
          <tbody><tr>
          <th>Amount of Players</th>
          </tr>
          <tr>
          <td>5 to 10 players = 10% Commission</td>
          </tr>
          <tr>
          <td>11 to 20 players = 20% Commission</td>
          </tr>
          <tr>
          <td>21 to 30 players = 30% Commission</td>
          </tr>
          <tr>
          <td>31 or more players = 35% Commission</td>
          </tr>
          </tbody></table>
          <li>To become a 2nd Tier Affiliate and collect up to 5% commission on referred Affiliates please contact the Jazz Affiliates Affiliate department. We will set up a separate account for you to promote and sign up Affiliates.</li>
        </ul>
      </accordion-group>
      <accordion-group #group5 [isOpen]="status.isOpen">
        <div accordion-heading>
          <h4><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': group5?.isOpen, 'glyphicon-chevron-right': !group5?.isOpen}"></i> 
          Commission</h4>
        </div>
        <ul>
          <li>
						Jazz Affiliates will pay the affiliate a commission based on the players’ net losses. These players must have signed up through your Affiliate website or tracking ID.
					</li>
          <li>
						Net losses are calculated the following way:
					</li>
          </ul>
          <table class="table table-striped affiliates_commission_table_calculated" style="width: 50%;" align="center">
          <tbody>
          <tr>
          <td class="first">1</td>
          <td class="second">$1100</td>
          <td class="thirth">Sixers -3</td>
          <td class="four">-1100 (Loss)</td>
          </tr>
          <tr>
          <td class="first">2</td>
          <td class="second">$1200</td>
          <td class="thirth">Pacers +4</td>
          <td class="four">+1200 (Win)</td>
          </tr>
          <tr>
          <td class="affiliates_calculated_table_last first">3</td>
          <td class="affiliates_calculated_table_last second">$1,100</td>
          <td class="affiliates_calculated_table_last thirth">Pistons -6</td>
          <td class="affiliates_calculated_table_last four">-1,100 (Loss)</td>
          </tr>
          <tr>
          <th colspan="3" class="five"><span class="bolder">Total Player Loss:</span></th>
          <th class="six"><span class="bolder">-1,000</span></th>
          </tr>
          </tbody>
          </table>
          <ul>
          <li>
						The affiliate will not receive commissions on his own losses or deposits.
					</li>
          <li>
						Jazz Affiliates Affiliates could have a negative carry-over figure on players if net win is higher than net loses as commissions are based on net losses.
					</li>
          <li>
						Commission calculations are processed at the end of each week on Mondays and applied to yoursportsbook account on a weekly basis.
					</li>
          <li>
						If you desire to offer extra incentives to potential referred players, you are required to receive our written approval; otherwise, commissions generated by such unauthorized incentive will be void.
					</li>
          <li>
						It is required for the referred player to make a real money deposit in order for the Affiliate to receive commissions over his/her net losses.
					</li>
          <li>
						In case fraudulent activity is detected by the referred player or the Affiliate, we reserve the right to terminate this agreement and hold any commission generated through fraud at our own discretion.
					</li>
          <li>
						CCPP – Credit Card Processing Payment fees will apply depending on Affiliate commission structure.
					</li>
        </ul>
      </accordion-group>
      <accordion-group #group6 [isOpen]="status.isOpen">
        <div accordion-heading>
          <h4><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': group6?.isOpen, 'glyphicon-chevron-right': !group6?.isOpen}"></i> 
          Payouts</h4>
        </div>
        <ul>
          <li>Affiliates can request their payouts on the 1st week of each month starting on Monday via email to affiliates@Jazz Affiliates.com. The Affiliate’s Commission percentage is calculated on a weekly basis and credited into the Affiliate’s account every Monday. </li>
          <li>Your affiliate account must have a minimum of 3 active referred Customers in the last 30 days before you will be eligible for a Commission payment. Jazz Affiliates reserves the right to hold payouts on affiliate commission earnings from Affiliates with stunted growth after reaching any posted minimums.</li>
          <li>Affiliates can cash out the first week of the month, using the following payout methods:
          <p>– Cashier’s checks</p>
          <p>– BitCoin</p>
          <p>– Person to Person Transfers</p>
          <p>– Bank wire as manager discretion</p>
          <p>– Minimum Payout amount $150
          </p></li>
        </ul>
      </accordion-group>
      <accordion-group #group7 [isOpen]="status.isOpen">
        <div accordion-heading>
          <h4><i class="glyphicon" [ngClass]="{'glyphicon-chevron-down': group7?.isOpen, 'glyphicon-chevron-right': !group7?.isOpen}"></i> 
          Entire agreement</h4>
        </div>
        <ul>
          <li>We may modify the Terms and Conditions at any time and at our sole discretion and without prior notice.</li>
          <li>All Affiliate terms and rules apply to Master Accounts as well.</li>
          <li>Jazz Affiliates Affiliate reserves the right to terminate this agreement at our sole discretion; consequently, the Affiliate must remove all our banners, links and any other content.</li>
        </ul>
      </accordion-group>
    </accordion>
  </div>

</section>

<footer class="frontend-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img src="http://www.jazzaffiliates.com/img/logo-opacity-dark.png" />
      </div>
      <div class="col-md-6">
        <p>&copy; 2017. « <a href="/">Jazz Affiliates</a> » All Rights Reserved.<br>
        Affiliate System Software</p>
      </div>
    </div>
  </div>
</footer>