<div class="container">
  <h2>{{'Card Transactions' | translate:lang }}</h2>
  <form #myForm="ngForm" novalidate>
    <div class="row">

      <div class="col-xs-3 form-group">
        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>
      <div class="col-xs-3 form-group">


      </div>
      <div class="col-xs-3 form-group">


      </div>
      <div class="col-xs-3 form-group">

      </div>
    </div>

    <div class="row">

      <div class="col-xs-4 form-group">
        <button class="btn btn-default" (click)="go()">{{'GO!' | translate:lang}}</button>
      </div>
    </div>
  </form>

  <div>

    <button class="btn btn-success" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>

          <th>{{'Player' | translate:lang}}</th>
          <th>{{'Status' | translate:lang}}</th>
          <th>{{'Deposit ' | translate:lang}}</th>
          <th>{{'Date' | translate:lang}}</th>
          <th>{{'Amount' | translate:lang}}</th>

          <th>{{'Card Name' | translate:lang}}</th>
          <th>{{'Card Number' | translate:lang}}</th>
          <th>{{'Email' | translate:lang}}</th>
          <th>{{'Phone' | translate:lang}}</th>
          <th>{{'Promo Code' | translate:lang}}</th>
          <th>{{'Processor' | translate:lang}}</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let PreAff of response">
          <td>
            {{PreAff.Player}}
          </td>
          <td>
            {{PreAff.StatusDescription}}
          </td>
          <td>
            {{PreAff.NumDep}}
          </td>
          <td>
            {{PreAff.TransDateTime}}
          </td>
          <td>
            {{PreAff.Amount }}
          </td>

          <td>
            {{PreAff.CardName}}
          </td>
          <td>
            {{PreAff.CardNumber}}
          </td>
          <td>
            {{PreAff.Email}}
          </td>
          <td>
            {{PreAff.Phone}}
          </td>
          <td>
            {{PreAff.PromoCode}}
          </td>
          <td>
            {{PreAff.ProcessorDescription}}
          </td>

        </tr>
      </tbody>
    </table>

  </div>

  <!--<pre>
  {{response | json}}
</pre>-->

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>