<div class="container">
  <h2>{{'Adjustments' | translate:lang }}</h2>
  <form #myForm="ngForm" novalidate>
    <div class="row">

      <div class="col-xs-3 form-group">
        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>

      </div>
      <div class="col-xs-3 form-group">


      </div>
      <div class="col-xs-3 form-group">

      </div>
    </div>

    <div class="row">

      <div class="col-xs-4 form-group">
        <button class="btn btn-default" (click)="go()">{{'GO!' | translate:lang}}</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.length > 0">

    <button class="btn btn-success" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
    <br>
    <table class="table table-hover">
      <thead>
        <tr>

          <th>{{'Date' | translate:lang}}</th>
          <th>{{'Agent' | translate:lang}}</th>

          <th>{{'Reference' | translate:lang}}</th>
          <th>{{'Type' | translate:lang}}</th>
          <th>{{'Description' | translate:lang}}</th>
          <th>{{'User' | translate:lang}}</th>
          <th>{{'Placed Date' | translate:lang}}</th>
          <th>{{'Amount' | translate:lang}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let PreAff of response">
          <td>
            {{PreAff.Date}}
          </td>
          <td>
            {{PreAff.Agent}}
          </td>
          <td>
            {{PreAff.Reference}}
          </td>
          <td>
            {{PreAff.Type === 'A' ? 'Adjustment':PreAff.Type }}
          </td>
          <td>
            {{PreAff.Description}}
          </td>
          <td>
            {{PreAff.User}}
          </td>
          <td>
            {{PreAff.PlacedDate}}
          </td>
          <td>
            {{PreAff.Amount}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <!--<pre>
  {{response | json}}
</pre>-->

</div>

<div *ngIf="loading">
  <app-loading> </app-loading>
</div>