<div class="container">
  <h2>{{'Action by Player' | translate:lang }}</h2>
  <form #myForm="ngForm" novalidate>
    <div class="row">

      <div class="col-xs-3 form-group">
        <label>{{'Select Date range:' | translate:lang  }}</label>
        <my-date-range-picker name="dateModel" [options]="myDatePickerOptions" [(ngModel)]="dateModel" required></my-date-range-picker>
      </div>
      <div class="col-xs-3 form-group">
        <label>{{'Currency:'| translate:lang  }}</label>
        <select name="ddlCurrency" class="form-control" style="height: 40px;" [(ngModel)]="ddlCurrency">
                <option *ngFor="let cur of currencies" [value]="cur.value">{{cur.display}}</option>
            </select>


      </div>
      <div class="col-xs-3 form-group">

      </div>
      <div class="col-xs-3 form-group">

      </div>
    </div>

    <div class="row">

      <div class="col-xs-4 form-group">
        <button class="btn btn-default" (click)="go()">GO!</button>
      </div>
    </div>
  </form>

  <div *ngIf="response?.ListData?.length > 0">
    <h2>{{'Period' | translate:lang}} {{response.StartDate | date: 'MM/dd/yyyy'}} To {{response.EndDate | date: 'MM/dd/yyyy'}}</h2>
    <button class="btn btn-success" (click)="ExportToExcel()">{{'Export to Excel' | translate:lang}}</button>
    <br> <br>
    <div *ngFor="let Item of response.ListData">

      <div class="row" style="text-align: center; color: white; background-color: black;">
        {{Item._agent}}
      </div>
      <table class="table">
        <thead>
          <tr>
            <td>Player</td>
            <td>Straight</td>
            <td>Parlay</td>
            <td>Teaser</td>
            <td>Reverse</td>
            <td>Casino</td>
            <td>Horses</td>
            <td>Other Wagers</td>
            <td>Adjustment</td>
            <td>Horse Adjustment</td>
            <td>Total</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ItemDetailPlayer of Item.ListPlayer">
            <td>{{ItemDetailPlayer._player}}</td>
            <td [ngClass]="(ItemDetailPlayer._straightbet < 0 )?'redNumber':'greenNumber'">{{ItemDetailPlayer._straightbet | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._parlay < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._parlay | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._teaser < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._teaser | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._reverse < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._reverse | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._casino < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._casino | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._horses < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._horses | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._otherwagers < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._otherwagers | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._otherabjustment < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._otherabjustment | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._horseadjustment < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._horseadjustment | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="(ItemDetailPlayer._total < 0 )? 'redNumber' : 'greenNumber'">{{ItemDetailPlayer._horseadjustment | currency:'USD':true:'1.2-2'}}</td>


          </tr>
          <tr>
            <td>{{Item.ListPlayer.length}} {{'Players' | translate:lang }}</td>
            <td [ngClass]="getTotal(Item, '_straightbet') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_straightbet') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_parlay')  < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_parlay') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_teaser') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_teaser') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_reverse') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_reverse') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_casino') < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_casino') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_horses')  < 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_horses') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_otherwagers')< 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_otherwagers') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_otherabjustment')< 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_otherabjustment') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_horseadjustment')< 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_horseadjustment') | currency:'USD':true:'1.2-2'}}</td>
            <td [ngClass]="getTotal(Item, '_total')< 0 ? 'redNumber' : 'greenNumber'">{{getTotal(Item, '_total') | currency:'USD':true:'1.2-2'}}</td>

          </tr>

        </tbody>
      </table>
      <br>


      <!--
  <pre>
  {{response | json}}
</pre>-->

    </div>

    <pre>
  {{response | json}}
</pre>

  </div>

  <div *ngIf="loading">
    <app-loading> </app-loading>
  </div>