@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Oswald:400,600');

/* GLOBAL STYLES STARTS HERE */
body {
  font-family: 'Open Sans', sans-serif !important; 
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Oswald', sans-serif !important;
}

a {
    color: #609ddb !important;
}
a:hover {
  color: #487ab9 !important;
  text-decoration: none !important;
}
a.btn {
  color: #FFF !important;
}
img {max-width: 100%;}

.ja-left {
    float: left;
    margin: 20px 20px 20px 0;
}
.ja-right {
    float: right;
    margin: 20px 0 20px 20px;
}
.ja-center {
    display: block;
    margin: 20px auto;
    text-align: center;
}
.ja-text-left {
    text-align: left;
}
.ja-text-right {
    text-align: right;
}
.ja-text-center {
    text-align: center;
}
.text-16 {font-size: 16px;line-height: 32px;}

.text-24 {font-size: 24px;line-height: 40px;}

.padding-top {padding-top: 50px;}
.padding-top-small {padding-top: 20px;}
.padding-bottom {padding-bottom: 50px;}
.no-padding {padding: 0 !important;}
.no-padding-top {padding-top: 0 !important;}
.no-padding-bottom {padding-bottom: 0 !important;}


/* GLOBAL STYLES ENDS HERE */

/* FRONTEND STYLES STARTS HERE */

.page-content {
  padding-bottom: 50px;
}
.page-content h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px;
  text-transform: uppercase;
}

footer.frontend-footer {
  color: #FFF;
  margin: 0 -15px;
  background: #21252b;
}
  footer.frontend-footer img {
    height: 100px;
  }
  footer.frontend-footer p {
    padding: 30px 10px;
  }

/* FRONTEND STYLES ENDS HERE */

/* REPORTS STYLES STARTS HERE */

#reportContent.container {
  padding: 0 !important; 
}
#reportContent.container .row {
  margin-left: 0 !important; 
  margin-right: 0 !important;
}
#reportContent.container h3 {
  margin: 0 !important;
}
#reportContent input[type="checkbox"] {
  width: 35px;
  height: 35px;
}
#reportContent input[type="checkbox"].form-control:focus {
    border:none !important;
    outline: 0;
    box-shadow: none !important;
}
#reportContent .col-md-6 .col-xs-6:first-child {
  padding-left: 0 !important;
}
#reportContent .col-md-6 .col-xs-6:last-child {
  padding-right: 0 !important;
}
#reportContent table {
  margin: 25px 0;
}
#reportContent table caption {
  background: #b0bec5;
  border-top: 2px solid #eee;
  color: #333;
  font: 600 18px "Oswald";
  padding: 8px 10px;
  text-shadow: 1px 1px #cfd8dc;
  text-transform: uppercase;
}

/* REPORTS STYLES ENDS HERE */

/* Fade transition */
 /*.animateme div {
    animation-duration: .75s;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    transition: transform .75s ease;
}*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.selector{
    opacity: 1!important;
    z-index: 10000;
}

.mydp .selector, .mydrp .selector {
  position: relative!important;
}
/* Slide transition */
/*
pm-app div.panel.panel-primary {
    animation-duration: .5s;
    animation-name: slideIn;
    animation-fill-mode: forwards;
    transition: transform .5s ease;
}

@keyframes slideIn {
  from {
    transform: translate(-200px);
  }

  to {
    transform: translate(0px);
  }
}

*/
.redNumber {
color:red;
font-weight: bold;
}

.greenNumber {
    /*color:green;*/
    font-weight: bold;
}