<!--
<alert type="success">hello</alert>
<button class="btn btn-success" (click)=" test()">click me!</button>
<button class="btn btn-default" (click)="showSuccess()">Toastr Testr</button>


<hr>

<p>{{ today | localeDate:defaultLocale:'fullDate' }}</p>       
<p>{{ pi | localeDecimal:defaultLocale:'1.5-5' }}</p>
<p>{{ value | localeCurrency:defaultLocale:currency:true:'1.2-2' }}</p>-->


<div class="row">
  <div class="col-md-8">
    <!--<carousel>
  <slide>
    <img src="http://valor-software.com/ng2-bootstrap/assets/images/nature/7.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="http://valor-software.com/ng2-bootstrap/assets/images/nature/8.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="http://valor-software.com/ng2-bootstrap/assets/images/nature/1.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>-->
  </div>



  <div class="col-md-4">
    <h2>GET STARTED NOW!</h2>
    <p>Fill the form and our agent will contact you as soon as possible</p>
    <form #signupForm="ngForm" (ngSubmit)="signup(signupForm.value)" autocomplete="off" novalidate>
      <div class="form-group">
        <label for="name">name:</label>
        <em *ngIf="signupForm.controls.name?.invalid && (signupForm.controls.name?.touched || mouseoverLogin)">Required</em>
        <input (ngModel)="name" name="name" required id="name" type="text" class="form-control" placeholder="Name..." />
      </div>
      <div class="form-group">
        <label for="email">email:</label>
        <em *ngIf="signupForm.controls.email?.invalid && (signupForm.controls.email?.touched || mouseoverLogin)">Required</em>
        <input (ngModel)="email" name="email" required id="email" type="email" class="form-control" placeholder="email..." />
      </div>
      <div class="form-group">
        <label for="phone">phone:</label>
        <em *ngIf="signupForm.controls.phone?.invalid && (signupForm.controls.phone?.touched || mouseoverLogin)">Required</em>
        <input (ngModel)="phone" name="phone" required id="phone" type="text" class="form-control" placeholder="phone..." />
      </div>

      <span (mouseenter)="mouseoverLogin=true" (mouseleave)="mouseoverLogin=false">
      <button type="submit" [disabled]="signupForm.invalid" class="btn btn-default">Sign up Now!</button>
    </span>
      <button type="button" (click)="cancel()" class="btn btn-default">Cancel</button>
    </form>
  </div>
</div>